

section#passo1a {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222;

    div.title {
        margin-bottom: 1rem;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;
        }
    }

    div.formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.7rem;
        border: 1px solid #A5A5A5;
        width: 35%;
        background-color: #FBFBFB;
        margin-bottom: 1rem;
        max-width: 418px;

        div.form {
            form {
                display: flex;
                flex-direction: column;
                padding: .3rem;

                label {
                    font-weight: bold;
                }

                label {
                    margin-bottom: .2rem;
                    font-size: .9rem;
                }
                input {
                    margin-bottom: 1rem;
                    height: 42px;
                    width: auto;
                    padding: .3rem;
                    font-size: .9rem;
                }
            }
        }

        div.actions {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                width: 35%;
                height: 40px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                background-color: #3665E0;
                border: 1px solid #3665E0;
                border-radius: 5%;
                color: #fff;
                margin-right: 0.4rem;
                text-decoration: none;
                font-size: .8rem;

                i {
                    padding-left: 1rem;
                }
            }

            a:hover {
                text-decoration: none;
            }

            p {
                font-size: 0.6rem;
                margin: auto 0;
                width: 60%;

                span {
                    font-weight: bold;    
                }
            }
        }
    }

    div.info {
        width: 35%;
        max-width: 418px;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }    
}


@media all and (max-width: 1024px) {
    section#passo1a {
        div.title {
            margin: .5rem;

            h1 {
                font-size: 1.6rem;
            }
        }
    
        div.formulario {
            width: 75%;
            padding: .5rem;

            div.form {
                form {
                    label {
                    }

                    input {
                        margin-bottom: .5rem;
                        height: 38px;
                    }
                }
            }
            div.actions {
                a {
                    i {
                    }
                }
                a:hover {
                }
                p {
                    span {
                    }
                }
            }
        }
        div.info {
            p {
                span {
                }
            }
        }    
    }
}

@media all and (max-width: 768px) {
    section#passo1a {
        div.title {
            h1 {
            }
        }
    
        div.formulario {
            width: 85%;

            div.form {
                form {
                    label {
                    }
                    label {
                    }
                    input {
                    }
                }
            }
            div.actions {
                a {
                    i {
                    }
                }
                a:hover {
                }
                p {
                    span {
                    }
                }
            }
        }
        div.info {
            width: 78%;

            p {
                span {
                }
            }
        }    
    }
}

@media all and (max-width: 575px) {
    section#passo1a {
        div.title {
            h1 {
                font-size: 1rem;
            }
        }
    
        div.formulario {
            width: 100%;

            div.form {
                form {
                    label {
                    }
                    label {
                    }
                    input {
                    }
                }
            }
            div.actions {
                a {
                    font-size: .6rem;

                    i {
                    }
                }
                a:hover {
                }
                p {
                    span {
                    }
                }
            }
        }
        div.info {
            p {
                span {
                }
            }
        }    
    }
}

@media all and (max-width: 360px) {
    section#passo1a {
        div.title {
            h1 {
                font-size: .9rem;
            }
        }
    
        div.formulario {
            div.form {
                form {
                    label {
                    }
                    label {
                    }
                    input {
                        font-size: .7rem;
                    }
                }
            }
            div.actions {
                a {
                    i {
                    }
                }
                a:hover {
                }
                p {
                    span {
                    }
                }
            }
        }
        div.info {
            p {
                span {
                }
            }
        }    
    }
}

@media all and (max-width: 290px) {
    section#passo1a {
        div.title {
            h1 {
            }
        }
    
        div.formulario {
            div.form {
                form {
                    label {
                    }
                    label {
                    }
                    input {
                    }
                }
            }
            div.actions {
                a {
                    i {
                    }
                }
                a:hover {
                }
                p {
                    span {
                    }
                }
            }
        }
        div.info {
            p {
                span {
                }
            }
        }    
    }
}