<section id="passo1a">
    <div class="breadc">Nome Completo</div>
    <div class="title">
    <h1 class="a">Preencha os campos abaixo para</h1>
    <h1 class="b">consultar o valor disponível para você</h1>
  </div>

  <div class="formulario">
    <div class="form">
      <form action="">
        <label for="">Nome completo</label>
        <input type="text" placeholder="Nome completo">
        <label for="">E-mail</label>
        <input type="text" placeholder="Digite seu e-mail">
        <label for="">Telefone principal</label>
        <input type="text" placeholder="Digite seu melhor número de telefone">
        <label for="">CPF</label>
        <input type="text" placeholder="000.000.000-00">
      </form>
    </div>
    <div class="actions">
      <a (click)="open()">
        Continuar
        <i class="fas fa-arrow-right"></i>
      </a>
      <p>Ao clicar em continuar Eu aceito os <span>termos de uso</span> e <span>políticas de privacidade</span> da Acrédito Digital.</p>
    </div>
  </div>

  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>
</section>
