@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

div#showcase {
font-family: 'Montserrat', sans-serif;
color: #fff;
background: url("./assets/img/section1/bg.png") no-repeat center/cover;
width: 100%;
height: 100vh;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;    
}

div.section-main {
display: flex;
flex-direction: column;
width: 80%;
margin: 0 auto;
padding: 0 3rem;
}

div.section-main > h1 {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
text-align: left;    
color: #FFFFFF;
margin-top: 98px;
padding-right: 70px;
font-style: normal;
line-height: normal;
font-size: 72px;
}

div.conteudoBottom {
display: flex;
flex-direction: column;
width: 86%;
}

div.conteudoBottom > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: normal;
    margin: .3rem;
    text-align: left;
    font-style: normal;
    font-size: 35px;
    color: #FFFFFF;
}

.formConsultar {
display: flex;
justify-content: center;
}

.formConsultar > .verifique {
display: flex;
justify-content: space-evenly;
align-items: center;
position: fixed;
bottom: 100px;
width: 50%;
height: 44px;
z-index: 13;
background-color: #FF3842;
padding: 0 2rem;
border-radius: 2px;
}

.formConsultar > .verifique > img {
width: 28px;
height: 28px;
margin-right: 6px;
}

.formConsultar > .verifique > p {
color: #fff;
font-size: 1.1rem;
margin: 0;
}

.formulario {
position: fixed;
bottom: 2%;
width: 98%;
z-index: 12;
}


@media all and (max-width: 1024px) {
div.section-main {
width: 88%;
}
div.section-main > h1 {   
font-size: 48px; 
}
}

@media all and (max-width: 768px) {
div.section-main {
width: 100%;
padding: 0;
}
div.section-main > h1 {
font-size: 33px;
}   
}

@media all and (max-width: 575px) {
div.conteudoBottom {    
width: 100%;
}  
}

@media all and (max-width: 360px) {
div.section-main {
width: 100%;
}
div.section-main > h1 {
    font-size: 28px;
}

div.conteudoBottom {
width: fit-content;        
}        
}


/* //////////////////////////////////////////////// */
.formulario > form {
font-family: 'Montserrat', sans-serif;    
background: #fff;
display: flex;
padding: 0;
position: fixed;
bottom: 12px;
width: 97%;
height: 106px;
align-items: center;
border: 1px solid lightgrey;
justify-content: space-between;
}

.formulario > form >label {
margin: 0 auto;
padding: 0 1.2rem;
font-family: 'Montserrat', sans-serif; 
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;
text-align: center;
color: #333333;
}

button.btnform {
background: #E4AE10;
color: #000;
font-size: 24px;
width: auto;
border-radius: 0;
font-weight: bold;
height: 100%;
width: 220px;
}

@media all and (max-width: 575px) {
.formulario > form {
width: 90%;
margin: 0 auto;
flex-direction: column;
}

.formulario > form > .form-control {
border-bottom: 1px solid #f3f1f1;
}
}

@media all and (max-width: 360px) {
.formulario > form > .form-contro {
    font-size: 0.6rem;
}
}



/* ///////////////////////////////////////////// */
#section2 {
width: 100%;
height: 35%;
font-family: 'Montserrat', sans-serif;
background-color: #fff3f3;
padding: 5%;
}

#section2 >    h1 {
font-style: normal;
line-height: normal;
font-weight: bold;
font-size: 48px;
text-align: center;
color: #E4AE10;

}    

#section2 >    div {
display:flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
#section2 >    div >        img {
max-height: 80px;
width: auto;
margin: 0.5rem;
}
 

@media all and (max-width: 768px) {
#section2 > h1 {
font-size: 32px;
}    
    
#section2 > div > img {
max-height: 48px;
margin: 0.1rem;
}
} 

@media all and (max-width: 575px) {
#section2 > h1 {
font-size: 26px;
}    
    
#section2 > div > img {
max-height: 42px;
margin: 0.1rem;
}
}


/* /////////////////////////////////////// */
section#section3 {
font-family: 'Montserrat', sans-serif;    
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
width: 100%;
height: 100vh;
position: relative;
overflow-y: hidden;
}

div.conteudo > div.title {
width: inherit;
}

div.conteudo > div.title > h1 {
font-weight: bold;
line-height: normal;
font-size: 60px;
color: #E4AE10;
}

div.conteudo > div.title > p {
width: 75%;
margin: 0 auto;
color: #000000;
}

div.conteudo > div.steps {
display: flex;
flex-direction: row;
justify-content: center;
height: inherit;
margin-top: 5%;
}

div.conteudo > div.steps > div > img.imgSteps {
width: 60px;
height: auto;
}

div.conteudo > div.steps > div >p {
width: 127px;
height: 40px;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;
text-align: center;
color: #000000;
margin: 22px;
}

div.conteudo > div.imgArrow {
margin-top: 2%;
}

div.conteudo > div.divButton {
margin-top: 10%;
}

div.conteudo > div.divButton > button {
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: #222222;
background: #E4AE10;
border-radius: 40px;
width: 200px;
font-weight: bold;
}

div.conteudo > div.divButton > button.btnSimulacao:hover, button.btnSimulacao:active {
text-decoration: none;
background: rgb(243, 199, 69);
}


@media all and (max-width: 768px) {
  
section#section3 > div.conteudo {
width: 90%;
}

section#section3 > div.conteudo > div.title {
margin: 0 auto;
padding: 0;
}

section#section3 > div.conteudo > div.title > h1 {
font-size: 44px;
}

section#section3 > div.conteudo > div.title > p {
width: 90%;
}

section#section3 > div.steps > div >img.imgSteps {
width: 50px;
height: auto;
}

section#section3 > div.steps > div > p {
width: 82px;
font-size: 12px;
}

section#section3 > div.divButton {
margin-top: 5%;
}

}

@media all and (max-width: 575px) {
    
section#section3 > div.conteudo > div.title > p {
margin-top: 10%;
}

section#section3 > div.conteudo > div.steps {
margin-top: 12%;
}

section#section3 > div.conteudo > div.steps > div {               
width: 20%;
}

section#section3 > div.conteudo > div.steps > div > p {
width: 60px;
margin: 12px 0;
}

section#section3 > div.conteudo > div.steps > div.imgArrow {
width: 11%;
}


section#section3 > div.conteudo > div.divButton {
margin-top: 20%;
}
}

@media all and (max-width: 360px) {
    
section#section3 > div.conteudo > div.title > h1 {
font-size: 34px;
}

section#section3 > div.conteudo > div.title >p {
margin-top: 8%;
}

section#section3 > div.conteudo > div.steps {
margin-top: 12%;
}

section#section3 > div.conteudo > div.steps > div > img.imgSteps {
width: 35px;
}

section#section3 > div.conteudo > div.steps > div > p {
font-size: 11px;
width: 59px;
margin: 7px 0;
}

section#section3 > div.conteudo > div.steps > div.imgArrow {
margin-top: 3%;
}

section#section3 > div.conteudo > div.steps > div.imgArrow > img {
height: 14px;
width: auto;
}

section#section3 > div.conteudo > div.divButton {
margin-top: 18%;
}
}


/* //////////////////////////////////////// */

#section3 {    
font-family: 'Montserrat', sans-serif;
color: #fff;
width: 100%;
height: 100vh;
background: url("./assets/img/conheca/conheca-bg.png") no-repeat center/cover;
}

#section3 > div.container {
display: flex;
flex-direction: column;
width: 70%;
padding: 10vh 0 10vh 0;
justify-content: center;
top: 17%;
position: relative;
}

#section3 > div.container > div.title {
text-align: center;
}

#section3 > div.container > div.title > h1 {
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 60px;
color: #FFFFFF;
}

#section3 > div.container > div.content {
padding: 0 1rem;
display: flex;
justify-content: space-between;
width: 88%;
margin: 0 auto;
margin-bottom: 2%;
}

#section3 > div.container > div.content > div.contentLeft {
display: flex;
flex-direction: column;
width: 45%;
margin-right: 3rem;
}

#section3 > div.container > div.content > div.contentLeft > p {
font-size: .8rem;
}

#section3 > div.container > div.content > div.contentLeft > p.p1 {
margin-bottom: 1rem;
}

#section3 > div.container > div.content > div.contentRight {
display: flex;
flex-direction: column;
width: 35%;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons {
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
width: 100%;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons > span > img {
height: 42px;
width: auto;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons > span > p {
font-size: .9rem;
}

#section3 > div.container > div.content > div.contentRight > div.bottomIcons {
display: flex;
justify-content: center;
margin-bottom: 1rem;
width: 100%;
}

#section3 > div.container > div.content > div.contentRight > div.bottomIcons > span > img {
height: 42px;
width: auto;
}

#section3 > div.container > div.content > div.contentRight > div.bottomIcons > span >p {
font-size: .9rem;
}

#section3 > div.container > div.contentBottom {
margin: 0 auto;
width: 85%;
padding: 1.5rem 2.2rem;
border: 3px solid #f2f2f2;
display: flex;
flex-direction: column;
}

#section3 > div.container > div.contentBottom > div.ceo {
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo {
display: flex;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo > img {
width: auto;
height: 60px;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo > div.textosCeo {
display: flex;
flex-direction: column;
margin-left: .6rem;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo > div.textosCeo > p.nomeCeo {
font-size: 1rem;
text-align: left;
margin: 0;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo > div.textosCeo > p.statusCeo {
font-size: 1rem;
text-align: left;
margin: 0;
}

#section3 > div.container > div.contentBottom > div.ceo > img {
width: auto;
height: 32px;;
}

#section3 > div.container > div.contentBottom > div.fraseCeo > p {
font-size: .9rem;
}

@media all and (max-width: 1024px) {

#section3 > div.container > div.title > h1 {
font-size: 2.5rem;
}

#section3 > div.container > div.content > div.contentLeft {
width: 52%;
}
}

@media all and (max-width: 768px) {
    
#section3 > div.container {
width: 96%;
}

#section3 > div.container > div.content > div.contentLeft {
width: 65%;
}

@media all and (max-width: 575px) {

#section3 > div.container > div.title {
margin-bottom: 0.5rem;
}

#section3 > div.container > div.title > h1 {
font-size: 1.5rem;
}

#section3 > div.container > div.content {
margin-bottom: 0rem;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons {
flex-direction: column;
align-items: center;
margin-bottom: 0;
}

#section3 > div.container > div.contentBottom {
padding: 0.7rem;
}

#section3 > div.container > div.contentBottom > div.ceo > img {
margin-top: 2rem;
margin-left: 1rem;
}

#section3 > div.container > div.contentBottom > div.fraseCeo > p {
font-size: 0.8rem;
}
}

@media all and (max-width: 360px) {

#section3 > div.container > div.title > h1 {
font-size: 1.2rem;
}

#section3 > div.container > div.content {
flex-direction: column;
}

#section3 > div.container > div.content > div.contentLeft {
width: 98%;
}

#section3 > div.container > div.content > div.contentRight {
width: 98%;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons {
flex-direction: row;
justify-content: space-around;
}

#section3 > div.container > div.content > div.contentRight > div.topIcons > span > img {
height: 30px;
}

#section3 > div.container > div.content > div.contentRight > div.bottomIcons > span > img {
height: 30px;
}

#section3 > div.container > div.contentBottom > div.ceo {
margin: 0;
}

#section3 > div.container > div.contentBottom > div.ceo > div.infoCeo > img {
display: none;
}

#section3 > div.container > div.contentBottom > div.ceo > img {
display: none;
}

#section3 > div.container > div.contentBottom > div.fraseCeo > p {
font-size: .7rem;
margin: 0;
}
}
}


/* ////////////////////////////////////// */


section#section4 {
font-family: 'Montserrat', sans-serif;    
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #E9E9E9;
height: 100vh;
}

section#section4 > div.title {
width: auto;
}

section#section4 > div.title > h1 {
font-weight: bold;
font-size: 52px;
color: #E4AE10;
margin-bottom: 2rem;
}

section#section4 > div.ops {
padding: 2rem 1rem;
display: flex;
justify-content: space-evenly;
width: 65%;
}

section#section4 > div.ops > div.opsContent {
display: flex;
flex-direction: column;
margin: 0 0.12rem;
padding: 2.5rem 1rem 2.5rem 1rem;
border-color: #848484; 
border-style: solid;
border-width: 0.01em;
border-radius: 0;
}

section#section4 > div.ops > div.opsContent  > div.opsTop {
display: flex;
flex-direction: row;
width: 95%;
margin-bottom: 1rem;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > img {
width: auto;
height: 54px;
margin-right: 15px;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > div.opsId {
display: flex;
flex-direction: column;
align-items: start;
margin-top: 10px;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > div.opsId > p.opsNome {
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;
color: #222222;
margin-bottom: 0;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > div.opsId > p.opsProfissao {
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 15px;
color: #222222;
text-align: start;
margin-bottom: 0;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > div.opsId > a {
display: none;
}

section#section4 > div.ops > div.opsContent  > div.opsTop > div.opsId > a > img {
width: 32px;
height: auto;
}

section#section4 > div.ops > div.opsContent  > div.opsTexto {
text-align: start;
font-size: 15px;
}

section#section4 > div.ops > div.opsContent  > div.opsIcons {
margin-top: 10%;
text-align: start;
}

section#section4 > div.ops > div > button.btnSimulacao {
margin-top: 45%;
font-size: 20px;
font-family: 'Poppins', sans-serif;
color: #222222;
background: #E4AE10;
border-radius: 40px;
width: 200px;
font-weight: bold;
}

section#section4 > div.ops > div > button.btnSimulacao:hover {
text-decoration: none;
background: #f7fafd;
}

@media all and (max-width: 1024px) {
section#section4 > div.title > h1 {
font-size: 46px;
}

}

@media all and (max-width: 768px) {

section#section4 > div.title > h1 {
font-size: 32px;
}

section#section4 > div.ops {
padding: 1rem 0.5rem;
display: flex;
flex-direction: column;
height: 60%;
border: 0;
justify-content: center;
}

section#section4 > div.ops > div.opsContent {
flex-direction: row;
margin: 0;
margin-bottom: .1rem;
padding: 0.2rem;
}

section#section4 > div.ops > div.opsContent > div.opsTop {
margin-left: 3%;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsNome {
font-size: 15px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 15px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section4 > div.ops > div.opsContent > div.opsTexto {
width: 100%;
}

section#section4 > div.ops > div.opsContent > div.opsIcons > a {
display: none;
}
}

@media all and (max-width: 575px) {
section#section4 {
height: 100%;
}

section#section4 > div.title > h1 {
font-size: 29px;
margin: 10px 0 10px 0;
}

section#section4 > div.ops {
padding: 0;
display: flex;
flex-direction: column;
height: 60%;
align-items: center;
border: 0;
width: 98%;
}

section#section4 > div.ops > div.opsContent {
flex-direction: column;
margin: 0;
width: 90%;
margin-bottom: .1rem;
}

section#section4 > div.ops > div.opsContent > div.opsTop {
margin-left: 3%;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsNome {
font-size: 15px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 12px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section4 > div.ops > div.opsContent > div.opsTexto {
width: 100%;
font-size: 13px;
margin: 0 2%;
}

section#section4 > div.ops > div.opsContent > div.opsIcons {
display: none;
}

section#section4 > div.ops > div.opsContent > div.opsIcons > a {
display: none;
}

section#section4 > div > button.btnSimulacao {
margin-top: 5px;
margin-bottom: 5px;
}
}

@media all and (max-width: 360px) {
section#section4 > div.title > h1 {
font-size: 20px;
margin: 10px 10px 0 10px;        
}

section#section4 > div.ops {
padding: 0;
margin: 0;
height: auto;
border: 0;
}

section#section4 > div.ops > div.opsContent {
display: flex;
flex-direction: column-reverse;
margin: 0;
height: 25%;
padding-top: 0;
}

section#section4 > div.ops > div.opsContent > div.opsTop {
height: inherit;
margin: 0 3%;
}

section#section4 > div.ops > div.opsContent > div.opsTop > img {
display: none;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsNome {
font-size: 15px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 12px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section4 > div.ops > div.opsContent > div.opsTop > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section4 > div.ops > div.opsContent > div.opsTexto {
width: 100%;
font-size: 13px;
margin: 0 2%;
}

section#section4 > div.ops > div.opsContent > div.opsIcons  > a {
display: none;
}

section#section4 > div > button.btnSimulacao {
margin-top: 30px;
margin-bottom: 10px;
width: 87px;
height: 32px;
}
}




/* ////////////////////////////////////////////////// */
section#section5 {
font-family: 'Montserrat', sans-serif;    
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #fff;
width: 100%;
height: 100vh;
overflow-y: hidden;
}

section#section5 > div.title {
margin-bottom: 3rem;
}

section#section5 > div.title > h1 {
font-weight: bold;
font-size: 60px;
color: #E4AE10;
margin-bottom: 0;
}

section#section5 > div.title > p {
font-size: 17px;
line-height: 22px;
text-align: center;
margin-bottom: 0;
}

section#section5 > div.container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

section#section5 > div.container > div.row > div.leftContent {
display: flex;
flex-direction: column;
align-items: flex-start;
}

section#section5 > div.container > div.row > div.leftContent > img {
width: 100%;
max-width: 531px;
height: auto;
}

section#section5 > div.container > div.row > div.leftContent >p.noticiaData {
font-size: 14px;
color: #212529;
margin: 10px 0 0 0;
}

section#section5 > div.container > div.row > div.leftContent >a > p.noticiaDescricao {
font-weight: 500;
font-size: 1.2rem;
color: #212529;
text-align: left;
width: 84%;
margin: 0;
}

section#section5 > div.container > div.row > div.leftContent > div.icons {
display: inline-block;
margin-top: 2px;
}

section#section5 > div.container > div.row > div.leftContent > div.icons > img {
width: 32px;
height: auto;
margin: 0 10px 0 0px;
}

section#section5 > div.container > div.row > div.rightContent {
text-align: left;
padding-left: 0;
}

section#section5 > div.container > div.row > div.rightContent > ul {
list-style:none;
}

section#section5 > div.container > div.row > div.rightContent > ul > li {
margin-bottom: 3rem;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > p.notData {
margin: 0;
font-size: .9rem;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > p.notTitle {
margin: 0;
font-weight: 500;
font-size: 1.2rem;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons {
display: inline-block;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons > img {
width: 32px;
height: auto;
margin: 0 10px 0 0px;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}



@media all and (max-width: 768px) {
section#section5 {
height: 77vh;
}

section#section5 > div.title > h1 {
font-size: 50px;                
}

section#section5 > div.title > p {
font-size: 14px;
}

  
section#section5 > div.container > div.row > div.leftContent {  
justify-content: space-around;

}

section#section5 > div.container > div.row > div.leftContent > a {
cursor: pointer;
text-decoration: none;
color: #000;
}

section#section5 > div.container > div.row > div.leftContent > a > p.noticiaDescricao {
font-size: 1rem;
width: 100%;
color: #000;
}

section#section5 > div.container > div.row > div.leftContent > a:visited {
cursor: pointer;
text-decoration: none;
color: #000;
}

section#section5 > div.container > div.row > div.leftContent > a:visited > p.noticiaDescricao {
font-size: 1rem;
width: 100%;
color: #000;
}

section#section5 > div.container > div.row > div.leftContent > a:hover {
text-decoration: none;
color: inherit;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > p.notData {
font-size: 0.8rem;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > a {
cursor: pointer;
text-decoration: none;
color: #000;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > a > p.notTitle {
font-size: 0.8rem;
color: #000;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > a:visited {
cursor: pointer;
text-decoration: none;
color: #000;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > a:visited > p.notTitle {
font-size: 0.8rem;
color: #000;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > a:hover {
text-decoration: none;
color: inherit;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons > a {
cursor: pointer;
text-decoration: none;
color: #000;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons > img {
    width: 26px;                               
}


section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons > a:hover {
text-decoration: none;
color: inherit;
}
}

@media all and (max-width: 575px) {
section#section5 {
height: 88vh;
}

section#section5 > div.title > h1 {
font-size: 26px;
margin-top: 12px;
}

section#section5 > div.title > p {
font-size: 13px;
}
}

@media all and (max-width: 360px) {
section#section5 {
height: 100%;
}

section#section5 > div.title {
margin-bottom: 1.3rem;
}

section#section5 > div.container > div.row {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

section#section5 > div.container > div.row > div.leftContent {
flex-direction: column;
width: 100%;
max-width: 100%;    
margin-bottom: 12px;
padding: 0;
margin: 0;
}

section#section5 > div.container > div.row > div.leftContent> img {
display: none;
}

section#section5 > div.container > div.row > div.leftContent > div.icons > img {
margin: 0 20px 0 0px;
}

section#section5 > div.container > div.row > div.rightContent {
max-width: 100%;
}

section#section5 > div.container > div.row > div.rightContent > ul {
padding: 0;
}

section#section5 > div.container > div.row > div.rightContent > ul > li > div.icons  > img {
margin: 0 20px 0 0px;
}
}


/* //////////////////////////////// */

section#section5 {
font-family: 'Montserrat', sans-serif;    
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #E9E9E9;
height: 100vh;
}

section#section5 > div.title {
width: auto;
margin-bottom: 3.4rem;
}

section#section5 > div.title > h1 {
font-weight: bold;
font-size: 52px;
color: #E4AE10;
}

section#section5 > .fechado {
background: #E4AE10;
border-radius: 40px;
color: white;
border-color: #E4AE10;
width: 672px;
font-weight: bold;
}

section#section5 > .aberto {
background: #EBEBEB;
border-radius: 0px;
color: #E4AE10;
border: none;
border-top: 1px solid rgb(199, 198, 198);
border-bottom: 1px solid rgb(199, 198, 198);;
width: 672px;
font-weight: bold;
}

section#section5 > .card {
background: #EBEBEB;
border: none;
width: 55%;
margin: 0 auto;
}

section#section5 > .card-body {
background: #EBEBEB;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 0.8rem;
color: #333333;
width: 88%;
margin: 0 auto;
border: none;
text-align: left;
padding: 0.4rem;
text-align: left;
}

section#section5 >  .collapseExample {
margin-bottom: 1.5rem;
}

@media all and (max-width: 1024px) {
section#section5 > div.title > h1 {
font-size: 46px;
}
}

@media all and (max-width: 768px) {

section#section5 > div.title > h1 {
font-size: 32px;
}

section#section5 > div.ops {
padding: 1rem 0.5rem;
display: flex;
flex-direction: column;
height: 60%;
border: 0;
justify-content: center;
}

section#section5 > div.ops > div.opsContent {
flex-direction: row;
margin: 0;
margin-bottom: .1rem;
padding: 0.2rem;
}

section#section5 > div.ops > div.opsContent > div.opsTop {
margin-left: 3%;
}

section#section5 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsNome {
font-size: 15px;
}

section#section5 > div.ops > div.opsContent > div.opsTop > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 15px;
}

section#section5 > div.ops > div.opsContent > div.opsTop > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section5 > div.ops > div.opsContent > div.opsTop > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section5 > div.ops > div.opsContent > div.opsTexto {
width: 100%;
}

section#section5 > div.ops > div.opsContent > div.opsIcons > a {
display: none;
}}

@media all and (max-width: 575px) {
section#section5 {
height: 100%;
}

section#section5 > div.title > h1 {
font-size: 29px;
margin: 10px 0 10px 0;
}

section#section5 > div.ops {
padding: 0;
display: flex;
flex-direction: column;
height: 60%;
align-items: center;
border: 0;
width: 98%;
}

section#section5 > div.ops > div.opsContent {
flex-direction: column;
margin: 0;
width: 90%;
margin-bottom: .1rem;
}

section#section5 > div.ops > div.opsContent > div.opsTop {
margin-left: 3%;
}

section#section5 > div.ops > div.opsContent > div.opsTop  > div.opsId > p.opsNome {
font-size: 15px;
}

section#section5 > div.ops > div.opsContent > div.opsTop  > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 12px;
}

section#section5 > div.ops > div.opsContent > div.opsTop  > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section5 > div.ops > div.opsContent > div.opsTop  > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section5 > div.ops > div.opsContent > div.opsTexto {
width: 100%;
font-size: 13px;
margin: 0 2%;
}

section#section5 > div.ops > div.opsContent > div.opsIcons {
display: none;
}

section#section5 > div.ops > div.opsContent > div.opsIcons > a {
display: none;
}

section#section5 > div>  button.btnSimulacao {
margin-top: 5px;
margin-bottom: 5px;
}
}

@media all and (max-width: 360px) {

section#section5 > div.title>  h1 {
font-size: 20px;
margin: 10px 10px 0 10px;        
}

section#section5 >  div.ops {
padding: 0;
margin: 0;
height: auto;
border: 0;
}

section#section5 >  div.ops > div.opsContent {
display: flex;
flex-direction: column-reverse;
margin: 0;
height: 25%;
padding-top: 0;
}

section#section5 >  div.ops > div.opsContent > div.opsTop {
height: inherit;
margin: 0 3%;
}

section#section5 >  div.ops > div.opsContent > div.opsTop > img {
display: none;
}

section#section5 >  div.ops > div.opsContent > div.opsTop > div.opsId > p.opsNome {
font-size: 15px;
}

section#section5 >  div.ops > div.opsContent > div.opsTop > div.opsId > p.opsProfissao {
display: flex;
flex-direction: row;
font-size: 12px;
}

section#section5 >  div.ops > div.opsContent > div.opsTop > div.opsId > a {
display: block;
position: relative;
top: -4px;
margin-left: 5px;
}

section#section5 >  div.ops > div.opsContent > div.opsTop > div.opsId > a > img {
width: 20px;
height: auto;
}

section#section5 >  div.ops > div.opsContent > div.opsTexto {
width: 100%;
font-size: 13px;
margin: 0 2%;
}

section#section5 >  div.ops > div.opsContent > div.opsIcons > a {
display: none;
}

section#section5 >   div > button.btnSimulacao {
margin-top: 30px;
margin-bottom: 10px;
width: 87px;
height: 32px;
}
}


/* //////////////////////////////////////// */
section.section6 {
font-family: 'Montserrat', sans-serif;    
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100vh;
overflow-y: hidden;
color: #FFFFFF;
margin: 0;
padding: 0;
background: url("./assets/img/section6/bgPrancheta.png") no-repeat center/cover;
}

section.section6 > div.conteudoGeral {
width: 80%;
margin-top: 5%;
}

section.section6 > div.conteudoGeral  > div.conteudoTop {
display: flex;
flex-direction: column;
padding-bottom: 3%;
}

section.section6 > div.conteudoGeral  > div.conteudoTop > h1 {
font-weight: bold;
font-size: 3rem;
text-align: center;
margin: 0;
padding: 0;
}

section.section6 > div.conteudoGeral  > div.conteudoTop > p {
font-weight: 500;
font-size: 0.9rem;
text-align: center;
margin: 0;
padding: 0;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle {
display: flex;
justify-content: center;
align-items: center;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle > .componentFormulario {
width: 35%;
max-width: 426px;
margin-right: 3rem;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle >  div.conteudoMiddleR {
display: flex;
flex-direction: column;
text-align: left;
margin-top: 2rem;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle >  div.conteudoMiddleR > div {
margin-bottom: 20%;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle >  div.conteudoMiddleR > div > h3 {
font-weight: 600;
font-size: 1.1rem;
margin: 0 0 2% 0;
padding: 0;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle >  div.conteudoMiddleR > div > p {
font-size: 0.8rem;
margin: 0;
padding: 0;
margin-bottom: 0.3rem;
}

section.section6 > div.conteudoGeral  > div.conteudoMiddle >  div.conteudoMiddleR > div > p > img {
height: auto;
width: 19px;
}

section.section6 > div.conteudoBottom {
width: 60%;
}

section.section6 > div.conteudoBottom > p {
font-weight: 500;
line-height: normal;
margin: .3rem;
font-size: .9rem;
text-align: center;
}

@media all and (max-width: 1024px) {

section.section6 > div.conteudoGeral {
width: 90%;
}

section.section6 > div.conteudoGeral > div.conteudoTop  > h1 {
font-size: 2rem;
}

section.section6 > div.conteudoGeral > div.conteudoTop  > p {
font-size: 0.8rem;
}

section.section6 > div.conteudoGeral >  div.conteudoMiddle {
justify-content: space-around;
}

section.section6 > div.conteudoGeral >  div.conteudoMiddle > .componentFormulario {
width: 50%;
}

section.section6 > div.conteudoBottom {
width: 84%;
}
}

@media all and (max-width: 768px) {

section.section6 > div.conteudoGeral {
margin-top: 8%;
width: 95%;
}

section.section6 > div.conteudoGeral > div.conteudoTop {
padding-bottom: 1%;
}

section.section6 > div.conteudoGeral > div.conteudoTop > h1 {
font-size: 1.3rem;
}

section.section6 > div.conteudoGeral > div.conteudoTop > p {
font-size: 0.7rem;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle {
display: flex;
flex-direction: column;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle > .componentFormulario {
width: 100%;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle > div.conteudoMiddleR {
margin-top: 1%;
width: 80%;
text-align: center;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle > div.conteudoMiddleR > div {      
margin-bottom: 2%;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle > div.conteudoMiddleR > div  > h3 {
font-size: 1rem;
margin: 0;
}

section.section6 > div.conteudoBottom {
width: 92%;
}

section.section6 > div.conteudoBottom > p {
font-size: .6rem;
}
}

@media all and (max-width: 360px) {

    section.section6 > div.conteudoGeral {
margin: 2%;
}

section.section6 > div.conteudoGeral > div.conteudoTop > h1 {
font-size: 0.9rem;
}

section.section6 > div.conteudoGeral > div.conteudoTop > p {
font-size: 0.6rem;
}

section.section6 > div.conteudoGeral > div.conteudoMiddle > div.conteudoMiddleR > div > p > img {                 
display: none;
}
}

/* ///////////////////////////////// */
.componentFormulario >h4 {
background: #E6B71F;
font-weight: bold;
font-size: 1.2rem;
padding: 0.5rem;
margin: 0;
}

.componentFormulario >form {
font-family: 'Montserrat', sans-serif;    
background: #fff;
padding: 3% 5%;
}

.componentFormulario >form > .form-control {
border-radius: 0;
margin-bottom: 3%;
font-size: 0.8rem;
}

.componentFormulario >form > button {
background: #3665E0;
color: #fff;
font-size: 0.8rem;
width: 100%;
}

.componentFormulario >form > button > a {
margin-left: 5%;
color: #fff;
}

@media all and (max-width: 1024px) {
.componentFormulario > h4 {
font-size: 1.3rem;
}
}

@media all and (max-width: 768px) {
.componentFormulario >h4 {
font-size: 1.1rem;
padding: 0.3rem;
}
.componentFormulario >form {
padding: 0.8%;
}

.componentFormulario >form > .form-control {
margin-bottom: 1.4%;
height: calc(2.25rem - 8px);
}
}
@media all and (max-width: 360px) {
.componentFormulario >h4 {
font-size: 0.9rem;
padding: 0.1rem;
}

.componentFormulario >form {
padding: 0.6%;
}

.componentFormulario >form > .form-control {
height: calc(2.25rem - 10px);
}

.componentFormulario >form > button {
padding: 0;
}
}




/* /////////////////////////////////////////// */

footer {
padding: 2% 2% 12% 0%;
width: inherit;
background-color: #222;
color: #fff;
}

footer > div.container {
margin: 0;
padding: 0;
max-width: 100%;
}

footer > div.container > div.footer-cols {
display: flex;
flex-direction: row;
margin: 0;
}

footer > div.container > div.footer-cols > div.socialMedia {
display: flex;
flex-direction: column;
align-items: center;
}

footer > div.container > div.footer-cols > div.socialMedia > div.logoFooter {
margin-bottom: 1.4vh;
}

footer > div.container > div.footer-cols > div.socialMedia > div.logoFooter > img {
height: 46px;
width: auto;
}

footer > div.container > div.footer-cols > div.socialMedia > div.socialMediaP > p {
font-family: 'Poppins', sans-serif;
font-size: 0.8rem;
margin-bottom: 0;
}

footer > div.container > div.footer-cols > div.socialMedia > div.socialMediaIcons {
margin-bottom: 2vh;
}

footer > div.container > div.footer-cols > div.socialMedia > div.socialMediaIcons > ul.smIcons {
list-style: none;
display: flex;
padding: 0;
margin: 0;
justify-content: center;
}

footer > div.container > div.footer-cols > div.socialMedia > div.socialMediaIcons > ul.smIcons > li {
margin: 0 17%;
}

footer > div.container > div.footer-cols > div.socialMedia > div.socialMediaIcons > ul.smIcons > li > a > img {
height: 14px;
width: auto;
}

footer > div.container > div.footer-cols > div.socialMedia > div.umaEmpresa {
display: flex;
align-items: center;
}

footer > div.container > div.footer-cols > div.socialMedia > div.umaEmpresa > p {
font-size: 0.8rem;
margin: 0 0.3rem 0 0;
padding: 0;
}

footer > div.container > div.footer-cols > div.socialMedia > div.umaEmpresa > img {
height: 24px;
width: auto;
}

footer > div.container > div.footer-cols > div.privacidade > h4 {
font-size: 0.7rem;
}

footer > div.container > div.footer-cols > div.privacidade > p {
font-size: 0.59rem;
text-align: justify;
}

@media all and (max-width: 1024px) {

div.logoFooter {
margin-bottom: 3vh;
}

div.socialMediaP > p {
font-size: 0.6rem;
}

div.socialMediaIcons {
margin-bottom: 3vh;
}

div.socialMediaIcons  > ul.smIcons > li {
margin: 0 12%;
}

div.umaEmpresa {
flex-direction: column;
}

div.umaEmpresa >  p {
font-size: 0.6rem;
}

div.privacidade > p {
line-height: normal;
}
}

@media all and (max-width: 768px) {
footer {
padding: 2%;
}

div.socialMediaP {
text-align: center;
}
}

@media all and (max-width: 575px) {

div.footer-cols {
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
}

div.footer-cols > div.socialMedia {
padding: 0;
margin: 0;
width: inherit;
flex: 0;
max-width: 100%;
}

div.footer-cols > div.socialMedia > div.logoFooter {
margin-bottom: 1vh;
}

div.footer-cols > div.socialMedia > div.socialMediaIcons {
margin-bottom: 1vh;
}

div.footer-cols > div.socialMedia > div.umaEmpresa {
margin-bottom: 2vh;
}

div.footer-cols > div.socialMedia > div.privacidade {
flex: 0;
max-width: 93%;
}
}

@media all and (max-width: 360px) {

div.footer-cols > div.privacidade {
max-width: 100%;
}
}
