<section id="passo3a">
  <div class="breadc">Nome Completo > Crédito Disponível > Opção Selecionada > Cadastro</div>
  <div class="title">
    <h1>Formulário de Contratação</h1>
    <p>Confirme os dados abaixo</p>
    <div class="etapas">
      <div class="etapa selected">
        <p>Cadastro</p>
      </div>
      <div class="etapa etapa-documentos">
        <p>Documentos</p>
      </div>
      <div class="etapa">
        <p>Confirmação</p>
      </div>
    </div>
  </div>

  <div class="conteudoPrincipal">
    <div class="formulario">
      <form action="">
        <h3 class="formTitle">Informações</h3>
        <div class="info">

          <div class="formNome">
            <label for="">Nome completo</label>
            <input type="text" id="formNome" placeholder="Digite seu nome completo">
          </div>

          <div class="formConvenio">
            <label for="">Convênio</label>
            <input type="text" id="formConvenio" placeholder="INSS">
          </div>

          <div class="formCPF">
            <label for="">CPF</label>
            <input type="text" id="formCPF" placeholder="000.000.000-00">
          </div>

        </div>

        <h3 class="formTitle">Contato</h3>
        <div class="contato">

          <div class="formTel">
            <label for="">Telefone Residencial</label>
            <input type="text" id="formTel" placeholder="(00) 0000-0000">
          </div>

          <div class="formCel">
            <label for="">Telefone Celular</label>
            <input type="text" id="formCel" placeholder="(00) 00000-0000">
          </div>

          <div class="formCEP">
            <label for="">CEP</label>
            <input type="text" id="formCEP" placeholder="0000-000"> 
          </div>

          <div class="formCidade">
            <label for="">Cidade</label>
            <input type="text" id="formCidade" placeholder="Cidade">
          </div>

          <div class="formUF">
            <label for="">UF</label>
            <input type="text" id="formUF" placeholder="UF">
          </div>
          <div class="formEnd">
            <label for="">Endereço</label>
            <input type="text" id="formEnd" placeholder="Endereço">
          </div>

          <div class="formNum">
            <label for="">Número</label>
            <input type="text" id="formNum" placeholder="Número">
          </div>

          <div class="formBairro">
            <label for="">Bairro</label>
            <input type="text" id="formBairro" placeholder="Bairro">
          </div>

          <div class="formComp">
            <label for="">Complemento</label>
            <input type="text" id="formComp" placeholder="Complemento">
          </div>

        </div>
      </form>
    </div>

    <div class="faltaPouco">
      <h3>Falta pouco para terminar o pedido!</h3>
      <div class="seuEmprestimo">
        <p class="seuTitle">Seu empréstimo</p>
        <p class="seuValor">R$ 24.568,12</p>
  
        <div class="pedidoBeneficio">
          <div class="pedido">
            <p class="pedTitle">Pedido</p>
            <p class="pedNum">#15</p>
          </div>
          <div class="beneficio">
            <p class="benTitle">Benefício</p>
            <p class="ben1">INSS</p>
            <p class="ben2">Margem Livre</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="actions">
    <a class="next" routerLink="/passo3b">
      Salvar e avançar
      <i class="fas fa-arrow-right"></i>
    </a>
    <a class="prev" routerLink="/passo2">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div> 
  
  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>

  <div class="ajuda">
    <img src="../../../assets/img/passo2/phone.png" alt="">
    <p>Precisa de ajuda?</p>
  </div>
  
</section>