section#passo3a {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;
    
    div.breadcrumb {
        
    }
    
    div.title {
        width: 65%;        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;            
        }

        p {
            font-size: 0.9rem;
            margin: 0;
            margin-bottom: 1rem;
        }

        div.etapas {
            justify-content: center;
            display: flex;
            width: 80%;

            div.etapa {
                display: flex;
                align-items: center;
                width: 150px;
                height: 47px;
                background: #FBFBFB;
                border: 1px solid #A5A5A5;

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }

            div.etapa-documentos {
                margin: 0 8px;
            }

            div.selected {
                background: #FBFBFB;
                border: 2px solid #3665E0;
            }
        }
    }

    div.conteudoPrincipal {
        width: 86%;
        max-width: 910px;
        background: #FBFBFB;
        border: 1px solid #A5A5A5;
        padding: 1rem 4rem;
        text-align: left;
        margin-bottom: 1rem;

        div.formulario {
            form {
                h3 {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: .5rem;
                }

                div {
                    width: 100%;

                    label {
                        font-size: .8rem;
                        font-weight: bold;
                    }

                    input {
                        font-size: .7rem;
                    }
                }

                div.info {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 1rem;

                    div {
                        display: flex;
                        flex-direction: column;
                        margin-right: 1rem;
                        margin-bottom: .3rem;

                        label {
                            margin: 0;
                        }

                        input {
                            height: 1.8rem;
                            padding: .3rem;
                            margin: 0;
                        }
                    }

                    div.formNome {
                        margin: 0;
                        margin-bottom: .3rem;
                        width: 100%;

                        label {

                        }

                        input {

                        }
                    }

                    div.formConvenio {
                        margin-bottom: .3rem;
                        width: 48%;

                        label {

                        }

                        input {
                            
                        }
                    }

                    div.formCPF {
                        margin-bottom: .3rem;
                        width: 49%;
                        width: calc(100% - 48% - 1rem);
                        margin: 0;

                        label {

                        }

                        input {
                            
                        }
                    }
                }

                div.contato {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;

                    div {
                        display: flex;
                        flex-direction: column;
                        margin-right: 1rem;
                        margin-bottom: .3rem;

                        label {
                            margin: 0;
                        }

                        input {
                            height: 1.8rem;
                            padding: .3rem;
                            margin: 0;
                        }
                    }

                    div.formTel {
                        margin-bottom: .3rem;
                        width: 48%;

                        label {

                        }

                        input {

                        }
                    }

                    div.formCel {
                        margin-bottom: .3rem;
                        width: calc(100% - 48% - 1rem);
                        margin: 0;

                        label {

                        }

                        input {

                        }
                    }

                    div.formCEP {
                        margin-bottom: .3rem;
                        width: 28%;

                        label {

                        }

                        input {

                        }
                    }

                    div.formCidade {
                        margin-bottom: .3rem;
                        width: calc(100% - 40% - 2rem);

                        label {

                        }

                        input {

                        }
                    }

                    div.formUF {
                        margin-bottom: .3rem;
                        width: 12%;
                        margin: 0;

                        label {

                        }

                        input {

                        }
                    }

                    div.formEnd {
                        margin-bottom: .3rem;
                        width: 78%;

                        label {

                        }

                        input {

                        }
                    }

                    div.formNum {
                        margin-bottom: .3rem;
                        width: calc(100% - 78% - 1rem);
                        margin: 0;

                        label {

                        }

                        input {

                        }
                    }

                    div.formBairro {
                        margin-bottom: .3rem;
                        width: 53%;

                        label {

                        }

                        input {

                        }
                    }

                    div.formComp {
                        margin-bottom: .3rem;
                        width: calc(100% - 53% - 1rem);
                        margin: 0;

                        label {

                        }

                        input {

                        }
                    }
                }
            }
        }


        div.faltaPouco {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 2%;
            right: 9%;
            width: 15%;
            background: #FBFBFB;
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.15);
            text-align: center;
            align-items: center;

            h3 {
                color: #222222;
                font-size: .8rem;
                font-weight: bold;
                width: 62%;
                margin: 0.3rem 0;
            }
      
            div.seuEmprestimo {
                background: #FFFFFF;
                border: 1px solid #D5D5D5;
                width: 90%;
                margin-bottom: .5rem;

                p.seuTitle {
                    font-size: .6rem;
                    margin: 0.2rem 0;
                }
      
                p.seuValor {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: .5rem;
                }
      
                div.pedidoBeneficio {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    margin-bottom: .5rem;
      
                    div {
      
                    }
                  
                    div.pedido {
      
                      p {
                        font-size: .6rem;
                        margin: 0;
                      }
      
                      p.pedTitle {
                        color: #A5A5A5;
                      }
      
                      p.pedNum {
                        font-weight: bold;
                      }
                    }
      
                    div.beneficio {
                        p {
                            font-size: .6rem;
                            margin: 0;
                        }
      
                        p.benTitle {
                            color: #A5A5A5;
                        }
      
                        p.ben1 {
                            font-weight: bold;
                        }
      
                        p.ben2 {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    div.actions {
        width: 86%;
        max-width: 910px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 42%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   
}

@media all and (max-width: 1024px) {
    section#passo3a {
        div.breadcrumb {        
        }
            div.title {
                width: 100%;
            h1 { 
            }
            p {
            }
            div.etapas {
                width: 70%;

                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.formulario {
                form {
                    h3 {
                    }
                    div {
                        label {
                        }
                        input {
                        }
                    }
                    div.info {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNome {
                            label {
                            }
                            input {
                            }
                        }
                        div.formConvenio {
                            label {
                            }
                            input {                            
                            }
                        }
                        div.formCPF {
                            label {
                            }
                            input {                            
                            }
                        }
                    }
                    div.contato {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formTel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCEP {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCidade {
                            label {
                            }
                            input {
                            }
                        }
                        div.formUF {
                            label {
                            }
                            input {
                            }
                        }
                        div.formEnd {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNum {
                            label {
                            }
                            input {
                            }  
                        }
                        div.formBairro {
                            label {
                            }
                            input {
                            }
                        }
                        div.formComp {
                            label {
                            }
                            input {
                            }
                        }
                    }
                }
            }
            div.faltaPouco {
                right: 1%;

                h3 {
                    width: 100%;
                }      
                div.seuEmprestimo {
                    padding: .2rem;

                    p.seuTitle {
                    }      
                    p.seuValor {
                        font-size: .8rem;
                    }      
                    div.pedidoBeneficio {
                        margin-bottom: 0;
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            width: 100%;
            margin-bottom: 3rem;
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 25%;
            height: 4%;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo3a {
        div.breadcrumb {        
        }
            div.title {
            h1 { 
            }
            p {
            }
            div.etapas {
                width: 76%;
                
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.formulario {
                form {
                    h3 {
                    }
                    div {
                        label {
                        }
                        input {
                        }
                    }
                    div.info {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNome {
                            label {
                            }
                            input {
                            }
                        }
                        div.formConvenio {
                            label {
                            }
                            input {                            
                            }
                        }
                        div.formCPF {
                            label {
                            }
                            input {                            
                            }
                        }
                    }
                    div.contato {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formTel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCEP {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCidade {
                            label {
                            }
                            input {
                            }
                        }
                        div.formUF {
                            label {
                            }
                            input {
                            }
                        }
                        div.formEnd {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNum {
                            label {
                            }
                            input {
                            }  
                        }
                        div.formBairro {
                            label {
                            }
                            input {
                            }
                        }
                        div.formComp {
                            label {
                            }
                            input {
                            }
                        }
                    }
                }
            }
            div.faltaPouco {
                top: 16%;
                h3 {
                    font-size: .7rem;
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                        font-size: .5rem;
                    }      
                    p.seuValor {
                        font-size: .6rem;
                    }      
                    div.pedidoBeneficio {
                        flex-direction: column;
                        align-items: center;

                        div {      
                        }                  
                        div.pedido {
                            margin-bottom: 1rem;
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 30%;

            img {

            }
            p {
                font-size: .7rem;
                font-weight: normal;
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo3a {
        div.breadcrumb {        
        }
            div.title {
            h1 { 
            }
            p {
            }
            div.etapas {
                flex-direction: column;
                align-items: center;

                div.etapa {
                    margin-bottom: .3rem;
                    width: 100%;
                    height: 38px;

                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            width: 100%;
            padding: .5rem;

            div.formulario {
                form {
                    h3 {
                    }
                    div {
                        label {
                            font-size: .7rem;
                        }
                        input {
                        }
                    }
                    div.info {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNome {
                            label {
                            }
                            input {
                            }
                        }
                        div.formConvenio {
                            label {
                            }
                            input {                            
                            }
                        }
                        div.formCPF {
                            label {
                            }
                            input {                            
                            }
                        }
                    }
                    div.contato {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formTel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCEP {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCidade {
                            label {
                            }
                            input {
                            }
                        }
                        div.formUF {
                            label {
                            }
                            input {
                            }
                        }
                        div.formEnd {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNum {
                            label {
                            }
                            input {
                            }  
                        }
                        div.formBairro {
                            width: 100%;
                            margin: 0;

                            label {
                            }
                            input {
                            }
                        }
                        div.formComp {
                            width: 100%;
                            margin: 0;
                            label {
                            }
                            input {
                            }
                        }
                    }
                }
            }
            div.faltaPouco {
                position: relative;
                width: 100%;
                margin: 2rem auto 1rem auto;

                h3 {
                }      
                div.seuEmprestimo {

                    p.seuTitle {
                    }      
                    p.seuValor {
                        font-size: .8rem;
                    }      
                    div.pedidoBeneficio {
                        flex-direction: row;

                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 50%;
            right: -5%;

            img {
                width: 16px;
            }
            p {
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo3a {
        div.breadcrumb {        
        }
            div.title {
            h1 { 
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.formulario {
                form {
                    h3 {
                    }
                    div {

                        label {
                        }
                        input {
                        }
                    }
                    div.info {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNome {
                            label {
                            }
                            input {
                            }
                        }
                        div.formConvenio {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {                            
                            }
                        }
                        div.formCPF {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {                            
                            }
                        }
                    }
                    div.contato {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formTel {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                        div.formCel {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;
                            
                            label {
                            }
                            input {
                            }
                        }
                        div.formCEP {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;
                            label {
                            }
                            input {
                            }
                        }
                        div.formCidade {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                        div.formUF {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                        div.formEnd {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                        div.formNum {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }  
                        }
                        div.formBairro {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                        div.formComp {
                            width: 100%;
                            margin: 0;
                            margin-bottom: .3rem;

                            label {
                            }
                            input {
                            }
                        }
                    }
                }
            }
            div.faltaPouco {
                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                    }      
                    div.pedidoBeneficio {
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 60%;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 290px) {
    section#passo3a {
        div.breadcrumb {        
        }
            div.title {
            h1 { 
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.formulario {
                form {
                    h3 {
                    }
                    div {
                        label {
                        }
                        input {
                        }
                    }
                    div.info {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNome {
                            label {
                            }
                            input {
                            }
                        }
                        div.formConvenio {
                            label {
                            }
                            input {                            
                            }
                        }
                        div.formCPF {
                            label {
                            }
                            input {                            
                            }
                        }
                    }
                    div.contato {
                        div {
                            label {
                            }
                            input {
                            }
                        }
                        div.formTel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCel {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCEP {
                            label {
                            }
                            input {
                            }
                        }
                        div.formCidade {
                            label {
                            }
                            input {
                            }
                        }
                        div.formUF {
                            label {
                            }
                            input {
                            }
                        }
                        div.formEnd {
                            label {
                            }
                            input {
                            }
                        }
                        div.formNum {
                            label {
                            }
                            input {
                            }  
                        }
                        div.formBairro {
                            label {
                            }
                            input {
                            }
                        }
                        div.formComp {
                            label {
                            }
                            input {
                            }
                        }
                    }
                }
            }
            div.faltaPouco {
                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                    }      
                    div.pedidoBeneficio {
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
            }
            p {
            }
        }
    }
}

