<section id="passo4a">
    <div class="breadc">Nome Completo > Crédito Disponível > Opção Selecionada > Cadastro > Documentos > Confirmação</div>
    <div class="title">
      <h1>Parabéns, Bruno Rosa!</h1>
      <p>Confirme as informações e clique em contratar</p>
      <div class="etapas">
        <div class="etapa">
          <p>Cadastro</p>
        </div>
        <div class="etapa etapa-documentos">
          <p>Documentos</p>
        </div>
        <div class="etapa selected">
          <p>Confirmação</p>
        </div>
      </div>
    </div>
  
    <div class="conteudoPrincipal">
      <h3 class="tit1">
        <img src="../../../assets/img/passo4a/doc.png" alt="">
        Resumo do empréstimo contratado
      </h3>
  
      <div class="tit2">
        <h3>Empréstimo</h3>
        <p>R$ 24.568,12</p>
      </div>
  
      <div class="descricoes">
        <div class="descricao">
          <p class="descTitle">Pedido</p>
          <p class="desc">#15</p>
        </div>
  
        <div class="descricao">
          <p class="descTitle">Pedido</p>
          <p class="desc">#15</p>
        </div>
  
        <div class="descricao">
          <p class="descTitle">Pedido</p>
          <p class="desc">#15</p>
        </div>
  
        <div class="descricao">
          <p class="descTitle">Pedido</p>
          <p class="desc">#15</p>
        </div>
  
        <div class="descricao">
          <p class="descTitle">Pedido</p>
          <p class="desc">#15</p>
          <p class="desc2">11:05</p>
        </div>
      </div>    
    </div>
  
    <div class="actions">
      <a class="next" (click)="open()">
        Contratar
        <i class="fas fa-arrow-right"></i>
      </a>
      <a class="prev" routerLink="/passo3b">
        <i class="fas fa-arrow-left"></i>
        Voltar ao menu anterior
      </a>
    </div> 

    <div class="info">
      <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
    </div>
  
    <div class="ajuda">
      <img src="../../../assets/img/passo2/phone.png" alt="">
      <p>Precisa de ajuda?</p>
    </div>
    
  </section>