section#passo4a {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;
    margin-bottom: 1rem;
    
    div.breadcrumb {
        
    }
    
    div.title {
        width: 100%;        
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;
        max-width: 647px;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: .5rem;         
        }

        p {
            font-size: 0.9rem;
            margin: 0;
            margin-bottom: 1rem;
        }

        div.etapas {
            justify-content: center;
            display: flex;
            width: 80%;

            div.etapa {
                display: flex;
                align-items: center;
                width: 150px;
                height: 47px;
                background: #FBFBFB;
                border: 1px solid #A5A5A5;

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }

            div.etapa-documentos {
                margin: 0 8px;
            }

            div.selected {
                background: #FBFBFB;
                border: 2px solid #3665E0;
            }
        }
    }

    div.conteudoPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FBFBFB;
        border: 1px solid #A5A5A5;
        background: #FBFBFB;
        border: 1px solid #A5A5A5;
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        max-width: 647px;

        h3.tit1 {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;

            img {

            }
        }

        div.tit2 {
            
            h3 {
                font-size: 1rem;
                margin: 0;
            }

            p {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        div.descricoes {
            display: flex;
            justify-content: space-evenly;
            background: #FFFFFF;
            border: 1px solid #D5D5D5;
            width: 100%;
            padding: 1rem;


            div.descricao {

                p {
                    font-size: .7rem;
                    margin: 0;
                }

                p.descTitle {
                    color: #A5A5A5;
                }

                p.desc {
                    font-weight: bold;
                }

                p.desc2 {
                    font-weight: bold;
                }
            }
        }
    }

    div.actions {
        width: 100%;
        margin-bottom: 1rem;
        max-width: 647px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 32%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   

}


@media all and (max-width: 1024px) {
    section#passo4a {
        div.breadcrumb {
        }    
        div.title {
            h1 {     
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
    
                }
            }
        }
        div.conteudoPrincipal {
            h3.tit1 {
                img {
                }
            }
            div.tit2 {            
                h3 {
                }
                p {
    
                }
            }
            div.descricoes {
                  div.descricao {
                    p {
    
                    }
                    p.descTitle {
                    }
                    p.desc {
                    }
                    p.desc2 {
                    }
                }
            }
        }
        div.actions {  
            width: 100%;          
        }

        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
            }
            p {
    
            }
        }   
    }
}

@media all and (max-width: 768px) {
    section#passo4a {
        div.breadcrumb {
        }    
        div.title {
            h1 {     
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
    
                }
            }
        }
        div.conteudoPrincipal {
            h3.tit1 {
                img {
                }
            }
            div.tit2 {            
                h3 {
                }
                p {
    
                }
            }
            div.descricoes {
                  div.descricao {
                    p {
    
                    }
                    p.descTitle {
                    }
                    p.desc {
                    }
                    p.desc2 {
                    }
                }
            }
        }
        div.actions {
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
            }
            p {
    
            }
        }   
    }
}

@media all and (max-width: 575px) {
    section#passo4a {
        div.breadcrumb {
        }    
        div.title {
            h1 {     
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                        font-size: .8rem;
                    }
                }
                div.selected {
    
                }
            }
        }
        div.conteudoPrincipal {
            h3.tit1 {
                font-size: .7rem;
                img {
                    height: 22px;
                }
            }
            div.tit2 {            
                h3 {
                    font-size: .8rem;
                }
                p {
    
                }
            }
            div.descricoes {
                  div.descricao {
                    p {
    
                    }
                    p.descTitle {
                    }
                    p.desc {
                    }
                    p.desc2 {
                    }
                }
            }
        }
        div.actions {
        }
        div.info {
            margin-bottom: 2rem;
            p {
                span {
                }
            }
        }
        div.ajuda {
            right: -6%;

            img {
            }
            p {
    
            }
        }   
    }
}

@media all and (max-width: 360px) {
    section#passo4a {
        div.breadcrumb {
        }    
        div.title {
            h1 {     
            }
            p {
            }
            div.etapas {
                div.etapa {
                    height: 36px;
                    p {
                        font-size: .6rem;
                    }
                }
                div.selected {
    
                }
            }
        }
        div.conteudoPrincipal {
            h3.tit1 {
                img {
                }
            }
            div.tit2 {            
                h3 {
                }
                p {
    
                }
            }
            div.descricoes {
                  div.descricao {
                    p {
    
                    }
                    p.descTitle {
                    }
                    p.desc {
                    }
                    p.desc2 {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            margin-bottom: 2rem;
            p {
                span {
                }
            }
        }
        div.ajuda {            
            width: 12rem;
            height: 4%;

            img {
                width: 14px;
            }
            p {
                font-size: .7rem;
                font-weight: normal;
            }
        }   
    }
}

@media all and (max-width: 290px) {
    section#passo4a {
        div.breadcrumb {
        }    
        div.title {
            h1 {     
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                        font-size: 55%;
                    }
                }
                div.selected {
    
                }
            }
        }
        div.conteudoPrincipal {
            h3.tit1 {
                img {
                }
            }
            div.tit2 {            
                h3 {
                }
                p {
    
                }
            }
            div.descricoes {
                flex-direction: column;
                flex-wrap: wrap;
                
                  div.descricao {
                    p {
    
                    }
                    p.descTitle {
                    }
                    p.desc {
                    }
                    p.desc2 {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            margin-bottom: 3rem;
            img {
            }
            p {
    
            }
        }   
    }
}


