<section id="passo2">
  <div class="breadc">Nome Completo > Crédito Disponível</div>
  <div class="title">
    <h1>Olá, Bruno Rosa!</h1>
    <p class="a">Seu limite é de: <span>R$ 29.953,10</span></p>
    <p class="b1">Confira o que encontramos disponível para você.</p>
    <p class="b2">Selecione o produto que deseja contratar.</p>
  </div>

  <div class="opcoes">
    <div class="op1" routerLink="/passo2a">
      <h3>
        <img src="../../../assets/img/passo2/a.png" alt="">
        Cartão Consignado
      </h3>

      <p class="valorTitle">Seu valor disponível:</p>
      <p class="valor">R$ 1.864,98</p>
      <p class="infoAdd">A fatura é descontada diretamente do holerite ou conta bancária de quem contrata o cartão.</p>
    </div>

    <div class="op2" routerLink="/passo2b">
      <h3>
        <img src="../../../assets/img/passo2/b.png" alt="">
        Margem Livre
      </h3>

      <p class="valorTitle">Seu valor disponível:</p>
      <p class="valor">R$ 24.568,12</p>
      <p class="infoAdd">A margem é o limite para desconto no contracheque ou benefício INSS.</p>
    </div>

    <div class="op3" routerLink="/passo2c">
      <h3>
        <img src="../../../assets/img/passo2/c.png" alt="">
        Portabilidade
      </h3>

      <p class="valorTitle">Seu valor disponível:</p>
      <p class="valor">R$ 3.520,00</p>
      <p class="infoAdd">Transfira seus empréstimo e financiamento de um banco para outro e tenha taxas de juros melhores.</p>
    </div>

  </div>

  <div class="parceiros">
    <h3>Bancos parceiros:</h3>
      <ul>
        <li>
          <img src="../../../assets/img/passo2/0itau.png" alt="">
        </li>
        <li>
          <img src="../../../assets/img/passo2/1bmg.png" alt="">
        </li>
        <li>
          <img src="../../../assets/img/passo2/2safra.png" alt="">
        </li>
        <li>
          <img src="../../../assets/img/passo2/3pan.png" alt="">
        </li>
        <li>
          <img src="../../../assets/img/passo2/4banrisul.png" alt="">
        </li>
        <li>
          <img src="../../../assets/img/passo2/5ole.png" alt="">
        </li>
      </ul>
  </div>

  <div class="actions">
    <a class="next" href="#">
      Conheça os detalhes
      <i class="fas fa-arrow-right"></i>
    </a>
    <a class="prev" routerLink="/passo1">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div>  

  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>

  <div class="ajuda">
    <img src="../../../assets/img/passo2/phone.png" alt="">
    <p>Precisa de ajuda?</p>
  </div>
</section>
