section#passo2 {
    position: absolute;
    top: 22%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: #222;
    text-align: center;

    div.breadcrumb {

    }

    div.title {
        width: 65%;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: .5rem;
        }

        p {
            font-size: 0.9rem;
        }

        p.a {
            margin-bottom: .5rem;

            span {
                font-weight: bold;
            }
        }

        p.b1 {
            margin-bottom: 0;
        }

        p.b2 {
            margin-bottom: 2rem;
            font-weight: bold;
        }
    }

    div.opcoes {
        display: flex;
        width: 91%;
        margin-bottom: 1.6rem;
        max-width: 825px;
        justify-content: space-between;

        div {
            background: #FBFBFB;
            border: 1px solid #A5A5A5;
            padding: 1.4rem 1.4rem .4rem 1.4rem;
            width: 42%;
            max-width: 255px;


            h3 {
                font-size: 1rem;
                font-weight: bold;

                img {
                    width: 40px;
                    height: auto;
                }
            }

            p {

            }

            p.valorTitle {
                font-size: .75rem;
            }

            p.valor {
                font-size: 1.5rem;
                font-weight: bold;
            }

            p.infoAdd {
                font-size: .6rem;
                margin-bottom: 0;
            }
        }

        div:hover {
            filter: contrast(120%);
            transform: scale(1.0);
            border: 2px solid #3665E0;
            ;
        }

    }

    div.parceiros {
        width: 91%;
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
        border: 1px solid #A5A5A5;
        padding: 1rem;
        max-width: 825px;
        margin-bottom: 1.6rem;

        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        ul {
            display: inline-flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 0;
            margin-bottom: 0;
        
            li {
                img {
                    height: 56px;
                    width: auto;
                }
            
            }
        }
    }

    div.actions {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;
        max-width: 540px;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 35%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }
}

@media all and (max-width: 1024px) {
    section#passo2 {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
                span {
                }
            }
            p.b1 {
            }
            p.b2 {
            }
        }
        div.opcoes {
            width: 100%;

            div {
                h3 {
                    img {
                    }
                }
                p {
                }
                p.valorTitle {
                }
                p.valor {
                }
                p.infoAdd {
                }
            }
        }
        div.parceiros {
            width: 100%;
            padding: .5rem;

            h3 {
                margin-bottom: .5rem;
            }
            ul {
                li {
                    img {
                        height: 45px;
                    }            
                }
            }
        }
        div.actions {
            width: 100%;
        }
        div.info {
            width: 67%;

            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
    
            }
            p {
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo2 {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
                span {
                }
            }
            p.b1 {
            }
            p.b2 {
            }
        }
        div.opcoes {
            div {
                padding: .5rem;

                h3 {
                    font-size: .8rem;
                    img {
                        width: 20px;
                    }
                }
                p {
                    margin-bottom: .5rem;
                }
                p.valorTitle {
                }
                p.valor {
                }
                p.infoAdd {
                }
            }
        }
        div.parceiros {
            h3 {
            }
            ul {
                li {
                    img {
                    }            
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 34%;

            img {
    
            }
            p {
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo2 {
        div.breadcrumb {
        }
        div.title {
            width: 100%;

            h1 {
                font-size: 1.6rem;
            }
            p {
                font-size: .7rem;
            }
            p.a {
                span {
                }
            }
            p.b1 {
            }
            p.b2 {
            }
        }
        div.opcoes {
            flex-direction: column;
            align-items: center;

            div {
                width: 90%;
                max-width: 350px;
                margin-bottom: .3rem;

                h3 {
                    img {
                    }
                }
                p {
                    margin-bottom: 0;
                }
                p.valorTitle {
                }
                p.valor {
                }
                p.infoAdd {
                }
            }
        }
        div.parceiros {
            width: 96%;
            h3 {
            }
            ul {
                flex-wrap: wrap;
                justify-content: center;

                li {
                    img {
                        margin: .5rem;
                    }            
                }
            }
        }
        div.actions {
            width: 96%;
        }
        div.info {
            width: 100%;
            margin-bottom: 4rem;

            p {
                span {
                }
            }
        }
        div.ajuda {
            right: -4%;
            
            img {
                width: 14px;
            }
            p {
                font-size: .7rem;
                font-weight: normal;
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo2 {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
                font-size: .6rem;
            }
            p.a {
                font-size: .8rem;
                span {
                }
            }
            p.b1 {
            }
            p.b2 {
            }
        }
        div.opcoes {
            div {
                h3 {
                    img {
                    }
                }
                p {
                }
                p.valorTitle {
                }
                p.valor {
                }
                p.infoAdd {
                }
            }
        }
        div.parceiros {
            h3 {
            }
            ul {
                li {
                    img {
                    }            
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {            
            width: 12rem;
            height: 4%;

            img {
                width: 14px;
            }
            p {
                font-size: .7rem;
                font-weight: normal;
            }
        }  
    }
}

@media all and (max-width: 290px) {
    section#passo2 {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
                span {
                }
            }
            p.b1 {
            }
            p.b2 {
            }
        }
        div.opcoes {
            div {
                h3 {
                    img {
                    }
                }
                p {
                }
                p.valorTitle {
                }
                p.valor {
                }
                p.infoAdd {
                }
            }
        }
        div.parceiros {
            h3 {
            }
            ul {
                li {
                    img {
                    }            
                }
            }
        }
        div.actions {
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            margin-bottom: 3rem;
            img {
    
            }
            p {
            }
        }
    }    
}



