<section id="passo2c">
  <div class="breadc">Nome Completo > Crédito Disponível > Portabilidade</div>

  <div class="title">
    <h1>Contratos de empréstimo disponíveis para portabilidade</h1>
    <p>Escolha a melhor opção para você</p>
  </div>

  <div class="conteudoPrincipal">
    <div class="opcao">
      <p class="opTitle">Banco Safra</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>

    <div class="opcao">
      <p class="opTitle">Banco Safra</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>

    <div class="opcao">
      <p class="opTitle">Banco Banrisul</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>

    <div class="opcao">
      <p class="opTitle">Banco Safra</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>

    <div class="opcao">
      <p class="opTitle">Banco Safra</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>

    <div class="opcao">
      <p class="opTitle">Banco Safra</p>
      <div class="prazoParcela">
        <div class="prazo">
          <p class="prazoTitle">Prazo</p>
          <p class="prazoQtd">72</p>
        </div>
        <div class="parcela">
          <p class="parcelaTitle">VI Parcela</p>
          <p class="parcelaValor">R$ 74,70</p>
        </div>
      </div>
      <div class="liberado">
        <p class="libTitle">Liberado</p>
        <p class="libValor">R$ 4.033,96</p>
      </div>
    </div>
  </div>

  <div class="actions">
    <a class="next" routerLink="/passo3a">
      Salvar e avançar
      <i class="fas fa-arrow-right"></i>
    </a>
    <a class="prev" routerLink="/passo2">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div>  
  
  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>

  <div class="ajuda">
    <img src="../../../assets/img/passo2/phone.png" alt="">
    <p>Precisa de ajuda?</p>
  </div>
  
</section>