section#passo2c {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
	justify-content: center;
    padding: 1rem;
    align-items: center;
    color: #222222; 
    text-align: center;

    div.breadcrumb {

    }

    div.title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 586px;
        margin-bottom: 1rem;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: .3rem;
        }

        p {
            font-size: 0.9rem;
            margin: 0;
            font-weight: bold;
        }
    }

    div.conteudoPrincipal {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 55%;
        background: rgba(251, 251, 251, 0.2);
        border: 1px solid #A5A5A5;
        margin-bottom: 1rem;
        max-width: 567px;
        padding: 1rem;
        padding-bottom: 0;
        
        div.opcao {
            background: #FFF9F9;
            border: 1px solid #DEDEDE;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin-bottom: 1rem;
            min-width: 138px;
            max-height: 125px;


            p.opTitle {
                font-size: .9rem;
                font-weight: bold;
                margin-bottom: .5rem;
            }

            div.prazoParcela {
                display: flex;
                justify-content: space-between;
                font-size: .6rem;

                div.prazo {
                    p.prazoTitle {
                        margin: 0;
                    }
                    p.prazoQtd {

                    }
                }

                div.parcela {
                    p.parcelaTitle {
                        margin: 0;
                    }
                    p.parcelaValor {

                    }
                }
            }

            div.liberado {

                P {
                    font-size: .6rem;
                    margin: 0;
                }

                p.libTitle {

                }

                p.libValor {

                }
            }
        }

        div.opcao:hover {
            transform: scale(1.05);
        }

        div.opcao:active {
            transform: scale(1.05);
            border: 2px solid #DEDEDE;
        }
    }

    div.actions {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;
        max-width: 567px;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 35%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   
}

@media all and (max-width: 1024px) {
    section#passo2c {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
        }
        div.conteudoPrincipal {
            width: 80%;
            div.opcao {
                p.opTitle {
                }
                div.prazoParcela {
                    div.prazo {
                        p.prazoTitle {
                        }
                        p.prazoQtd {
                        }
                    }
                    div.parcela {
                        p.parcelaTitle {
                        }
                        p.parcelaValor {
                        }
                    }
                }
                div.liberado {
                    P {
                    }
                    p.libTitle {
                    }
                    p.libValor {
                    }
                }
            }
        }
        div.actions {
            width: 100%;
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 25%;

            img {
            }
            p {
    
            }
        }
    }
    
}

@media all and (max-width: 768px) {
    section#passo2c {
        div.breadcrumb {
        }
        div.title {
            h1 {
                font-size: 1.4rem;
            }
            p {
            }
        }
        div.conteudoPrincipal {
            width: 100%;

            div.opcao {
                p.opTitle {
                }
                div.prazoParcela {
                    div.prazo {
                        p.prazoTitle {
                        }
                        p.prazoQtd {
                        }
                    }
                    div.parcela {
                        p.parcelaTitle {
                        }
                        p.parcelaValor {
                        }
                    }
                }
                div.liberado {
                    P {
                    }
                    p.libTitle {
                    }
                    p.libValor {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            margin-bottom: 3rem;

            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 32%;
            height: 4%;

            img {
            }
            p {
    
            }
        }
    }
    
}

@media all and (max-width: 575px) {
    section#passo2c {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
        }
        div.conteudoPrincipal {
            margin-bottom: .5rem;
            padding: .5rem;

            div.opcao {
                padding: .5rem;

                p.opTitle {
                }
                div.prazoParcela {
                    div.prazo {
                        p.prazoTitle {
                        }
                        p.prazoQtd {
                        }
                    }
                    div.parcela {
                        p.parcelaTitle {
                        }
                        p.parcelaValor {
                        }
                    }
                }
                div.liberado {
                    P {
                    }
                    p.libTitle {
                    }
                    p.libValor {
                    }
                }
            }
        }
        div.actions {
            width: 100%;
        }
        div.info {
            width: 100%;

            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 55%;
            right: -10%;

            img {
                width: 14px;
            }
            p {
                font-size: .7rem;
                font-weight: normal;
            }
        }
    }
    
}

@media all and (max-width: 360px) {
    section#passo2c {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
        }
        div.conteudoPrincipal {
            div.opcao {
                p.opTitle {
                }
                div.prazoParcela {
                    div.prazo {
                        p.prazoTitle {
                        }
                        p.prazoQtd {
                        }
                    }
                    div.parcela {
                        p.parcelaTitle {
                        }
                        p.parcelaValor {
                        }
                    }
                }
                div.liberado {
                    P {
                    }
                    p.libTitle {
                    }
                    p.libValor {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 64%;

            img {
            }
            p {
    
            }
        }
    }
    
}

@media all and (max-width: 290px) {
    section#passo2c {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
        }
        div.conteudoPrincipal {
            div.opcao {
                p.opTitle {
                }
                div.prazoParcela {
                    div.prazo {
                        p.prazoTitle {
                        }
                        p.prazoQtd {
                        }
                    }
                    div.parcela {
                        p.parcelaTitle {
                        }
                        p.parcelaValor {
                        }
                    }
                }
                div.liberado {
                    P {
                    }
                    p.libTitle {
                    }
                    p.libValor {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 78%;

            img {
            }
            p {
    
            }
        }
    }
    
}

