/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.breadc {
    position: fixed;
    top: 160px;
    left: 5px;
    font-size: 0.7rem;
}

.modal-dialog {
    top: 20% !important;
}