<section id="passo4b">
    <div class="breadc">Nome Completo > Crédito Disponível > Opção Selecionada > Cadastro > Documentos > Confirmação > Indicação</div>
  <div class="title">
    <h1>Indique algum amigo!</h1>
    <p>Simples, não é?</p>
    <p>Indique um amigo aposentado ou pensionista do INSS. A cada</p>
    <p>indicação, você ajuda um amigo a realizar planos e sonhos.</p>
  </div>

  <div class="conteudoPrincipal">
    <img src="../../../assets/img/passo4b/apos.png" alt="">
    <div class="formulario">
      <form action="">
        <label for="">Nome Completo</label>
        <input type="text" id="formIndNome" placeholder="Nome Completo">
        <label for="">E-mail</label>
        <input type="text" id="formIndEmail" placeholder="E-mail">
        <label for="">Telefone</label>
        <input type="text" id="formIndTel" placeholder="Digite o número de telefone">

        <div class="formActions">
          <a href="#">
            Enviar
          </a>
        </div>

      </form>
    </div>
  </div>

  <div class="actions">
    <a class="prev" routerLink="/passo4a">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div> 
<!--   
  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div> -->
  
</section>