section#passo4b {
    position: absolute;
    top: 20%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;
    
    div.breadcrumb {
        
    }
    
    div.title {
        width: 100%;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        max-width: 787px;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;            
        }

        p {
            font-size: 0.9rem;
            margin: 0;
        }
    }

    div.conteudoPrincipal {
        background: #FBFBFB;
        border: 1px solid #A5A5A5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        max-width: 615px;
        padding: 1rem;

        img {
            max-width: 475px;
            width: 70%;
            height: auto;
            margin-bottom: .5rem;
        }
        
        div.formulario {
            display: flex;
            justify-content: space-around;
            width: 64%;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: left;

                label {
                    font-size: .8rem;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                input {
                    margin-bottom: .4rem;
                    font-size: .8rem;
                    padding: .2rem .3rem;
                }

                a {

                }

                div.formActions {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: .6rem;
            
                    a {
                        display: flex;
                        width: 100%;
                        height: 35px;
                        justify-content: center;
                        align-items: center;
                        background-color: #3665E0;
                        border: 1px solid #3665E0;
                        border-radius: 4%;
                        color: #fff;
                        text-decoration: none;
                        font-size: .8rem;
                        margin: 0 auto;
                        margin-bottom: 0;
                    }

                }
            }
        }
    }    
    
    div.actions {
        width: 45%;
        max-width: 615px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 42%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    section#passo4b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {       
            }
            p {
            }
        }
        div.conteudoPrincipal {
            img {
            }        
            div.formulario {
                form {
                    label {
                    }
                    input {
                    }
                    a {
                    }
                    div.formActions {
                        a {
                        }
                    }
                }
            }
        }   
        
        div.actions {
            width: 100%;
        }
        div.info {
            p {
                span {
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo4b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {       
            }
            p {
            }
        }
        div.conteudoPrincipal {
            img {
            }        
            div.formulario {
                form {
                    label {
                    }
                    input {
                    }
                    a {
                    }
                    div.formActions {
                        a {
                        }
                    }
                }
            }
        }   
        
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo4b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {       
            }
            p {
            }
        }
        div.conteudoPrincipal {
            img {
            }        
            div.formulario {
                width: 100%;

                form {
                    label {
                    }
                    input {
                    }
                    a {
                    }
                    div.formActions {
                        a {
                        }
                    }
                }
            }
        }   
        
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo4b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {
                font-size: 1.5rem;     
            }
            p {
            }
        }
        div.conteudoPrincipal {
            img {
            }        
            div.formulario {
                form {
                    label {
                    }
                    input {
                    }
                    a {
                    }
                    div.formActions {
                        a {
                        }
                    }
                }
            }
        }   
        
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
    }
}

@media all and (max-width: 290px) {
    section#passo4b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {       
            }
            p {
            }
        }
        div.conteudoPrincipal {
            img {
            }        
            div.formulario {
                form {
                    label {
                    }
                    input {
                    }
                    a {
                    }
                    div.formActions {
                        a {
                        }
                    }
                }
            }
        }   
        
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
    }
}

