<section id="passo3b">
    <div class="breadc">Nome Completo > Crédito Disponível > Opção Selecionada > Cadastro > Documentos</div>
    <div class="title">
    <h1>Envie seus documentos</h1>
    <p>Atenção! Seus dados são protegidos e criptografados</p>
    <div class="etapas">
      <div class="etapa">
        <p>Cadastro</p>
      </div>
      <div class="etapa selected etapa-documentos">
        <p>Documentos</p>
      </div>
      <div class="etapa">
        <p>Confirmação</p>
      </div>
    </div>
  </div>

  <div class="conteudoPrincipal">
    <div class="doc">
      <h3>Documento de identificação</h3>
      <p class="docInfo">Frente e verso da CNH ou RG</p>
      <img src="../../../assets/img/passo3b/cam.png" alt="">
      <p class="img">Insira a imagem aqui</p>
    </div>

    <div class="doc">
      <h3>Foto</h3>
      <p class="docInfo">Imagem de seu rosto</p>
      <img src="../../../assets/img/passo3b/cam.png" alt="">
      <p class="img">Insira a imagem aqui</p>
    </div>

    <div class="doc">
      <h3>Comprovante de residência</h3>
      <p class="docInfo"></p>
      <img src="../../../assets/img/passo3b/cam.png" alt="">
      <p class="img">Insira a imagem aqui</p>
    </div>

    <div class="doc">
      <h3>Outros anexos</h3>
      <p class="docInfo">*Contracheque atualizado</p>
      <img src="../../../assets/img/passo3b/cam.png" alt="">
      <p class="img">Insira a imagem aqui</p>
    </div>

    <div class="faltaPouco">
      <h3>Falta pouco para terminar o pedido!</h3>
      <div class="seuEmprestimo">
        <p class="seuTitle">Seu empréstimo</p>
        <p class="seuValor">R$ 24.568,12</p>
  
        <div class="pedidoBeneficio">
          <div class="pedido">
            <p class="pedTitle">Pedido</p>
            <p class="pedNum">#15</p>
          </div>
          <div class="beneficio">
            <p class="benTitle">Benefício</p>
            <p class="ben1">INSS</p>
            <p class="ben2">Margem Livre</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="actions">
    <a class="next" routerLink="/passo4a">
      Salvar e avançar
      <i class="fas fa-arrow-right"></i>
    </a>
    <a class="prev" routerLink="/passo3a">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div> 
  
  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>

  <div class="ajuda">
    <img src="../../../assets/img/passo2/phone.png" alt="">
    <p>Precisa de ajuda?</p>
  </div>
  
</section>