section#passo3b {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;
    margin-bottom: 1rem;
    
    div.breadcrumb {
        
    }
    
    div.title {
        width: 65%;        
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;            
        }

        p {
            font-size: 0.9rem;
            margin: 0;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        div.etapas {
            justify-content: center;
            display: flex;
            width: 80%;

            div.etapa {
                display: flex;
                align-items: center;
                width: 150px;
                height: 47px;
                background: #FBFBFB;
                border: 1px solid #A5A5A5;

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }

            div.etapa-documentos {
                margin: 0 8px;
            }

            div.selected {
                background: #FBFBFB;
                border: 2px solid #3665E0;
            }
        }
    }

    div.conteudoPrincipal {
        display: flex;
        flex-wrap: wrap;
        width: 50%;        
        justify-content: center;
        align-content: center;
        margin-bottom: 1rem;
        max-width: 648px;

        div.doc {
            background: #FBFBFB;
            border: 1px solid #A5A5A5;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            padding: 1rem;
            margin: 0 0.8rem 1.1rem 0.8rem;

            h3 {
                font-size: .8rem;
                font-weight: bold;
            }

            p {
                font-size: .6rem;
            }

            p.docInfo {
                font-style: italic;
            }

            img {
                margin-bottom: .3rem;
            }

            p.img{
                margin: 0;
            }
        }

        div.faltaPouco {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 8%;
            right: 2%;
            width: 20%;
            background: #FBFBFB;
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.15);
            text-align: center;
            align-items: center;
            padding: 0.4rem 0.1rem;

            h3 {
                color: #222222;
                font-size: 1rem;
                font-weight: bold;
                width: 62%;
                margin: 0.3rem 0;
            }
      
            div.seuEmprestimo {
                background: #FFFFFF;
                border: 1px solid #D5D5D5;
                width: 90%;
                margin-bottom: .5rem;

                p.seuTitle {
                    font-size: .6rem;
                    margin: 0.2rem 0;
                }
      
                p.seuValor {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: .5rem;
                }
      
                div.pedidoBeneficio {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    margin-bottom: .5rem;
      
                    div {
      
                    }
                  
                    div.pedido {
      
                      p {
                        font-size: .6rem;
                        margin: 0;
                      }
      
                      p.pedTitle {
                        color: #A5A5A5;
                      }
      
                      p.pedNum {
                        font-weight: bold;
                      }
                    }
      
                    div.beneficio {
                        p {
                            font-size: .6rem;
                            margin: 0;
                        }
      
                        p.benTitle {
                            color: #A5A5A5;
                        }
      
                        p.ben1 {
                            font-weight: bold;
                        }
      
                        p.ben2 {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    div.actions {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;
        max-width: 534px;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 32%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   
}

@media all and (max-width: 1024px) {
    section#passo3b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {      
            }
            p {
            }
            div.etapas {
                width: 100%;

                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.doc {
                h3 {
                }
                p {
                }
                p.docInfo {
                }
                img {
                }
                p.img{
                }
            }
            div.faltaPouco {
                top: 5%;
                right: 3%;
                h3 {
                    width: 100%;
                }      
                div.seuEmprestimo {
                    padding: .2rem;
                    p.seuTitle {
                    }      
                    p.seuValor {
                        font-size: .9rem;
                    }      
                    div.pedidoBeneficio {
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }      
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {
            width: 100%;
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            right: -4%;
            width: 27%;
            height: 4%;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo3b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {      
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            width: 80%;
            div.doc {
                h3 {
                }
                p {
                }
                p.docInfo {
                }
                img {
                }
                p.img{
                }
            }
            div.faltaPouco {
                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                        font-size: .6rem;
                    }      
                    div.pedidoBeneficio {
                        flex-direction: column;
                        align-items: center;

                        div {      
                        }                  
                        div.pedido {
                            margin-bottom: .2rem;    
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }      
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 35%;
            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo3b {
        div.breadcrumb {        
        }    
        div.title {
            width: 100%;

            h1 {
                font-size: 1.5rem;
            }
            p {
            }
            div.etapas {
                flex-direction: column;
                align-items: center;

                div.etapa {
                    margin-bottom: .2rem;
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            width: 100%;

            div.doc {
                width: 46%;

                h3 {
                }
                p {
                }
                p.docInfo {
                }
                img {
                }
                p.img{
                }
            }
            div.faltaPouco {
                position: relative;
                width: 82%;
                top: 0;
                right: 0;

                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                    }      
                    div.pedidoBeneficio {
                        flex-direction: row;
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }      
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {
            width: 96%;
        }
        div.info {
            width: 100%;
            margin-bottom: 3rem;

            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 45%;
            img {
                width: 14px;
            }
            p {
                font-size: .6rem;
                font-weight: normal;
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo3b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {      
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.doc {
                h3 {
                }
                p {
                }
                p.docInfo {
                }
                img {
                }
                p.img{
                }
            }
            div.faltaPouco {
                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                    }      
                    div.pedidoBeneficio {
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }      
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 52%;
            right: -6%
            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 290px) {
    section#passo3b {
        div.breadcrumb {        
        }    
        div.title {
            h1 {      
            }
            p {
            }
            div.etapas {
                div.etapa {
                    p {
                    }
                }
                div.selected {
                }
            }
        }
        div.conteudoPrincipal {
            div.doc {
                h3 {
                }
                p {
                }
                p.docInfo {
                }
                img {
                }
                p.img{
                }
            }
            div.faltaPouco {
                h3 {
                }      
                div.seuEmprestimo {
                    p.seuTitle {
                    }      
                    p.seuValor {
                    }      
                    div.pedidoBeneficio {
                        div {      
                        }                  
                        div.pedido {      
                          p {
                          }      
                          p.pedTitle {
                          }      
                          p.pedNum {
                          }
                        }      
                        div.beneficio {
                            p {
                            }      
                            p.benTitle {
                            }      
                            p.ben1 {
                            }      
                            p.ben2 {
                            }
                        }
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
            }
            p {
            }
        }
    }
}


