section {
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    width: 100%;
    background: #E4AE10;
    font-size: 0.8rem;
    position: fixed;
    top: 100px;
    color: #fff;
    z-index: 1000;

    div {
        height: 100%;

        ul {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            list-style: none;
            height: inherit;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                width: 21%;
                display: flex;
                margin: auto 0;
                justify-content: space-between;

                div {
                    margin-right: 1rem;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                span {
                    width: 30px;
                    text-align: left;
                    margin: auto 0;

                    i {
                        font-size: 1.4rem;
                        margin: 0;
                    }
                }
            }

            li:last-child {
                width: 18%;
            }
        }
    }
}


@media all and (max-width: 1024px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 575px) {
    section {
        div {
            ul {
                * {
                }
                li {
                    width: 22%;

                    div {
                        p {
                            font-size: .6rem;
                        }
                    }
                    span {
                        i {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 360px) {

}

@media all and (max-width: 290px) {

}

section {
    div {
        ul {
            * {
            }
            li {

                div {
                    margin-right: 0;
                    p {
                    }
                }
                span {
                    width: 10%;
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}