<section>
  <div>
    <ul>
      <li>
        <div>
          <p>Passo 01</p>
          <p>Preencher Dados</p>
        </div>
        <span>
          <i class="fas fa-caret-right"></i>
        </span>
      </li>
      <li>
        <div>
          <p>Passo 02</p>
          <p>Ver Crédito Disponível</p>
        </div>
        <span>
          <i class="fas fa-caret-right"></i>
        </span>
      </li>
      <li>
        <div>
          <p>Passo 03</p>
          <p>Solicitar Crédito</p>
        </div>
        <span>
          <i class="fas fa-caret-right"></i>
        </span>
      </li>
      <li>
        <div>
          <p>Passo 04</p>
          <p>Finalização</p>
        </div>
      </li>
    </ul>
  </div>
</section>