section#passo2a {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;

    div.breadcrumb {

    }

    div.title {
        width: 65%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;
        }

        p {
            font-size: 0.9rem;
        }

        p.a {
            margin: 0;
        }

        p.b {
            font-weight: bold;
            margin: 0;
        }
    }

    div.conteudoPrincipal {
        display: flex;
        flex-direction: column;
        border: 1px solid #A5A5A5;
        background: #FBFBFB;
        padding: 1rem;
        margin: 0;
        margin-bottom: 1rem;
        width: 48%;
        max-width: 615px;

        p {
            color: #222222;                   
        }

        p.title {
            font-weight: bold;
            margin: 0;
            margin-bottom: 0.5rem;

            img {
                width: 40px;
                height: auto;
            }
        }

        p.valorTitle {
            font-size: .8rem;
            margin: 0;
        }

        p.valor {
            font-size: 2rem;
            font-weight: bold;
        }    

        div.valorDesejado {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                font-size: 1rem;
                width: 37%;
                height: 43px;
                text-align: center;
            }

            div.valorAtual {            
                width: 37%;
                height: 43px;
                border: 1.4px solid #3a24f1;
                font-weight: bold;

                p {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                    margin-top: 0.4rem;
                }
            }
        }
    }

    div.actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;
        width: 48%;
        max-width: 615px;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 48%;
        max-width: 615px;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   
}


@media all and (max-width: 1024px) {
    section#passo2a {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
            }
            p.b {
            }
        }
        div.conteudoPrincipal {
            width: 90%;
            p {
            }
            p.title {
                img {
                }
            }
            p.valorTitle {
            }
            p.valor {
            }
            div.valorDesejado {
                input {
                    width: 40%;
                }
                div.valorAtual {
                    width: 40%;
                    p {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 27%;
            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo2a {
        div.breadcrumb {
        }
        div.title {
            width: 90%;

            h1 {
            }
            p {
            }
            p.a {
            }
            p.b {
            }
        }
        div.conteudoPrincipal {
            p {
            }
            p.title {
                img {
                }
            }
            p.valorTitle {
            }
            p.valor {
            }
            div.valorDesejado {
                input {
                    width: 45%;
                    font-size: .9rem;
                }
                div.valorAtual {
                    width: 45%;
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            width: 100%;
            p {
                span {
                }
            }
        }
        div.ajuda {
            right: -4%;
            width: 35%;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo2a {
        div.breadcrumb {
        }
        div.title {
            width: 100%;
            h1 {
                font-size: 1.6rem;
            }
            p {
                font-size: .7rem;
            }
            p.a {
            }
            p.b {
            }
        }
        div.conteudoPrincipal {
            width: 100%;
            padding: .5rem;

            p {
            }
            p.title {
                font-size: .8rem;

                img {
                    width: 28px;
                }
            }
            p.valorTitle {
            }
            p.valor {
            }
            div.valorDesejado {
                input {
                    width: 48%;
                    font-size: .7rem;
                    height: 36px;
                }
                div.valorAtual {
                    width: 48%;
                    height: 36px;
                    p {
                    }
                }
            }
        }
        div.actions {
            width: 96%;
        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 50%;

            img {
                width: 16px;

            }
            p {
                font-size: .75rem;
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo2a {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
            }
            p.b {
            }
        }
        div.conteudoPrincipal {
            p {
            }
            p.title {
                img {
                }
            }
            p.valorTitle {
            }
            p.valor {
            }
            div.valorDesejado {
                flex-direction: column;

                input {
                    width: 78%;
                    margin-bottom: .2rem;
                }
                div.valorAtual {
                    width: 78%;

                    p {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 57%;
            height: 38px;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 290px) {
    section#passo2a {
        div.breadcrumb {
        }
        div.title {
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
            p.a {
            }
            p.b {
            }
        }
        div.conteudoPrincipal {
            p {
            }
            p.title {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: .2rem;
                }
            }
            p.valorTitle {
            }
            p.valor {
                font-size: 1.6rem;
            }
            div.valorDesejado {
                input {
                }
                div.valorAtual {
                    p {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 73%;
            right: -6%;
            img {
            }
            p {
            }
        }
    } 
}



