<section id="passo2a">
  <div class="breadc">Nome Completo > Crédito Disponível > Cartão Consignado</div>
    <div class="title">
      <h1>Cartão Consignado</h1>
      <p class="a">Chegou o momento de você escolher o valor para saque no cartão.</p>
      <p class="b">Escolha, dentro do seu limite, o valor que deseja sacar</p>
    </div>

    <div class="conteudoPrincipal">
      <p class="title">
        <img src="../../../assets/img/passo2/passo2a/money.png" alt="">
        Limite de Crédito para saque no cartão
      </p>

      <p class="valorTitle">
        Valor total disponível
      </p>
      <p class="valor">
        R$ 1.864,98
      </p>

      <div class="valorDesejado">
        <input type="text" placeholder="Digite o valor desejado">
        <div class="valorAtual">
          <p>R$ 1.864,98</p>
        </div>
      </div>
    </div>

    <div class="actions">
      <a class="next" routerLink="/passo3a">
        Salvar e avançar
        <i class="fas fa-arrow-right"></i>
      </a>
      <a class="prev" routerLink="/passo2">
        <i class="fas fa-arrow-left"></i>
        Voltar ao menu anterior
      </a>
    </div>  
    
    <div class="info">
      <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
    </div>
  
    <div class="ajuda">
      <img src="../../../assets/img/passo2/phone.png" alt="">
      <p>Precisa de ajuda?</p>
    </div>
    
</section>