div#showcase {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}