div.modal-header {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding: 1rem 0 .5rem 0;
    border: none;

    h4 {
        font-size: 1.7rem;
        font-weight: bold;
        color: #E4AE10;
        text-align: center;
    }

    button.close {
        position: absolute;
        right: 3%;
        top: 1%;

        span {
            font-size: 2rem;
        }
    }
}

div.modal-body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    
    p {
        font-size: .7rem;
        color: #000;
        text-align: center;
        margin: 0;
    }

    p.num {
        font-size: 2rem;
        font-weight: bold;
    }
}

div.modal-footer {
    font-family: 'Montserrat', sans-serif;
    border: none;
    justify-content: center;

    button {
        display: flex;
        width: 85%;
        height: 36px;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #3665E0;
        border: 1px solid #3665E0;
        border-radius: 3%;
        color: #fff;
        text-decoration: none;
        font-size: .8rem;

        i {
            padding-left: 1rem;
        }
    }

    button:hover {
        text-decoration: none;
    }
}
