<div class="modal-header">
  <h4 class="modal-title">Parabéns! O seu pedido foi finalizado com sucesso!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Obrigado pela confiança! O número do seu pedido é:</p>
  <p class="num">15</p>
  <p>Você irá receber uma confirmação por email
      com todos os dados do seu pedido.</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" routerLink="/passo4b" (click)="activeModal.close('Close click')">
    Continuar
    <i class="fas fa-arrow-right"></i>
  </button>
</div>