<div class="modal-header">
  <h4 class="modal-title">Termos de privacidade</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>A Acrédito Brasil é uma empresa pertencente ao Grupo Acrédito, com sede na R. 24 de Maio, 35 – República, São Paulo – SP, CEP:01041-001. Para entrar em contato, utilizar os botões ou formulários neste site. A Acrédito Brasil é uma instituição prestadora de serviços de empréstimo consignado para aposentados e pensionistas do INSS. Possui uma plataforma online que facilita o acesso de clientes a produtos e serviços oferecidos por instituições financeiras. Atua como correspondente bancário do Banco J.Safra S/A, inscrito no CNPJ sob o Nº 03.017.677/0001-20, Banco Pan S.A., inscrito no CNPJ sob o Nº 59.285.411/0001-13, Banco BONSUCESSO S.A., inscrito no CNPJ sob o Nº 71.027.866/0001-34, Banco Banrisul S/a, inscrito no CNPJ sob o Nº 92.702.067/0001-96 e Banco Daycoval S.A., inscrito no CNPJ sob o Nº 62.232.889/0001-90. As atividades de atendimento visam à recepção e encaminhamento de propostas de operações de crédito de responsabilidade desses bancos mencionados. . Os correspondentes bancários são empresas contratadas por instituições financeiras e demais instituições autorizadas pelo Banco Central do Brasil para prestação de serviços de intermediação e atendimento aos clientes e usuários dessas instituições. A atividade de correspondente bancário é uma atividade regulada pelo Banco Central do Brasil, nos termos da Resolução nº 3.954, de 24 de fevereiro de 2011.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" routerLink="/passo2" (click)="activeModal.close('Close click')">
    Continuar
    <i class="fas fa-arrow-right"></i>
  </button>
</div>