div.modal-header {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding: 1rem 0 .5rem 0;
    border: none;

    h4 {
        font-size: 2rem;
        font-weight: bold;
        color: #E4AE10;
        text-align: center;
    }

    button.close {
        position: absolute;
        right: 3%;
        top: 1%;

        span {
            font-size: 2rem;
        }
    }
}

div.modal-body {
    font-family: 'Montserrat', sans-serif;
    width: 92%;
    margin: 0 auto;
    border: 1px solid #dcd8d8;
    padding: .5rem;
    
    p {
        font-size: .7rem;
        color: #000;
        text-align: justify;
        margin: 0;
    }
}

div.modal-footer {
    font-family: 'Montserrat', sans-serif;
    border: none;

    button {
        display: flex;
        width: 100%;
        height: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #3665E0;
        border: 1px solid #3665E0;
        border-radius: 3%;
        color: #fff;
        text-decoration: none;
        font-size: .8rem;

        i {
            padding-left: 1rem;
        }
    }

    button:hover {
        text-decoration: none;
    }
}


@media all and (max-width: 1024px) {
    div.modal-header {
        h4 {
        }
        button.close {
            span {
            }
        }
    }
    div.modal-body {
        p {
        }
    }
    div.modal-footer {
        button {
            i {
            }
        }
        button:hover {
        }
    }
}

@media all and (max-width: 768px) {
    div.modal-header {
        h4 {
        }
        button.close {
            span {
            }
        }
    }
    div.modal-body {
        p {
        }
    }
    div.modal-footer {
        button {
            i {
            }
        }
        button:hover {
        }
    }
}

@media all and (max-width: 575px) {
    div.modal-header {
        h4 {
        }
        button.close {
            span {
            }
        }
    }
    div.modal-body {
        p {
        }
    }
    div.modal-footer {
        button {
            i {
            }
        }
        button:hover {
        }
    }
}

@media all and (max-width: 360px) {
    div.modal-header {
        padding: .5rem;
        h4 {
            font-size: 1rem;
        }
        button.close {
            span {
            }
        }
    }
    div.modal-body {
        padding: .2rem;
        p {
            font-size: .6rem;
        }
    }
    div.modal-footer {
        button {
            i {
            }
        }
        button:hover {
        }
    }
}

@media all and (max-width: 290px) {
    div.modal-header {
        h4 {
        }
        button.close {
            span {
            }
        }
    }
    div.modal-body {
        p {
        }
    }
    div.modal-footer {
        button {
            i {
            }
        }
        button:hover {
        }
    }
}