nav.navbar {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #043A7A;
    font-weight: normal;
    min-height: 100px;
    height: 100px;

    div.mx-auto {
        width: 90%;

        a.navbar-brand {
            margin-right: 3rem;
            margin-top: 20px;
            
            img {
                width: auto;
                height: 121px;
            }
        }

        button.navbar-toggler {
            span.navbar-toggler-icon {

            }
        }

        div.collapse {
            width: auto;
            height: inherit;
            justify-content: space-evenly;

            ul.navbar-nav {
                width: 100%;
                justify-content: flex-end;
                text-align: -webkit-center;
                padding-right: 70px;
                
                li.nav-item {

                    margin-right: 34px;
                    
                    a.nav-link {
                        width: fit-content;
                        font-weight: 600;
                        font-size: 17px;    
                        color: #fff;                    
                    }
                }

                .nav-link-quem  {
                    min-width: 111px;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    nav.navbar {
        padding: 0.3rem 0.3rem;
        height: auto;
        
        div.mx-auto {
            display: flex !important;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            width: 100%;

            a.navbar-brand {
                margin: 0;
                padding: 0;

                img {
                    width: auto;
                    height: 84px;
                }
            }
            button.navbar-toggler {
                position: fixed;
                top: 10px;
                right: 10px;
                color: rgba(255, 255, 255, 0.9);
                border-color: rgba(255, 255, 255, 0.5);
                padding: 0;
                margin: 0;
                width: 40px;
                height: 32px;

                span.navbar-toggler-icon {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
            div.collapse {
                ul.navbar-nav {
                    margin: 0;
                    width: fit-content;
                    float: right;
                    margin: 0 70px 0 0;
                    text-align: -webkit-right;

                    li.nav-item {

                        a.nav-link {
                            margin: 3px 0 5px 0;
                            padding: 0;
                        }
                    }
                    .nav-link-quem  {
                    }

                    li:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 575px) {
    nav.navbar {
        div.mx-auto {
            a.navbar-brand {
                img {
                }
            }
            button.navbar-toggler {
                span.navbar-toggler-icon {
                }
            }
            div.collapse {
                ul.navbar-nav {              
                    li.nav-item {
                        a.nav-link {                
                        }
                    }
                    .nav-link-quem  {
                    }
                }
            }
        }
    }
}

@media all and (max-width: 360px) {
    nav.navbar {
        div.mx-auto {
            a.navbar-brand {
                img {
                    height: 40px;
                }
            }
            button.navbar-toggler {
                span.navbar-toggler-icon {
                }
            }
            div.collapse {
                ul.navbar-nav {              
                    li.nav-item {
                        a.nav-link {                
                        }
                    }
                    .nav-link-quem  {
                    }
                }
            }
        }
    }
}


@media all and (max-width: 290px) {
    nav.navbar {
        div.mx-auto {
            a.navbar-brand {
                img {
                    display: none;
                }
            }
        }
    }
}
