<nav class="navbar navbar-expand-md fixed-top navbar-dark" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand" href="#showcase"><img src="../../../assets/img/acreditologo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav"  [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#showcase">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-quem" href="#">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dúvidas Frequentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>