<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">

    <title>Acrédito Digital</title>
</head>

<body>
    <!-- navigation -->
    <div class="fixed-top">
        <nav class="navbar navTop navbar-expand-lg navbar-dark" data-toggle="affix">

            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">

                <div class="left">
                    <a class="navbar-brand collapse navbar-collapse" href="#showcase"><img src="./assets/img/landing2/section0/0casa.png"
                            alt="">Homepage</a>

                    <div class="collapse navbar-collapse text-center" id="navbarNavEsq" [ngClass]="{ 'show': navbarOpen }">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">Sobre a Acrédito Brasil</a>
                                <img src="./assets/img/landing2/section0/arrow_down.png" alt="">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blogs</a>
                                <img src="./assets/img/landing2/section0/arrow_down.png" alt="">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contato</a>
                                <img src="./assets/img/landing2/section0/arrow_down.png" alt="">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Promotora</a>
                                <img src="./assets/img/landing2/section0/arrow_down.png" alt="">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Digital</a>
                                <img src="./assets/img/landing2/section0/arrow_down.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="right">
                    <div class="collapse navbar-collapse text-center" id="navbarNavDir" [ngClass]="{ 'show': navbarOpen }">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">
                                    <img src="./assets/img/landing2/section0/1what.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">
                                    <img src="./assets/img/landing2/section0/2medium.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">
                                    <img src="./assets/img/landing2/section0/3link.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">
                                    <img src="./assets/img/landing2/section0/4face.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#showcase">
                                    <img src="./assets/img/landing2/section0/5inst.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>


        <nav class="navbar navBottom navbar-expand-lg navbar-dark" data-toggle="affix">

            <div class="logo">
                <img src="./assets/img/landing2/section0/logo_acredito.png" alt="">
            </div>

            <div class="links">
                <ul class="list-inline">
                    <li>Faça seu empréstimo</li>
                    <li>Seja um parceiro</li>
                    <li>Dúvidas frequentes</li>
                </ul>
            </div>

            <div class="search">
                <form>
                    <input type="text" id="formSearch" class="form-control" placeholder="Digite o que deseja encontrar">

                    <button class="btn" type="submit">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </button>

                </form>
            </div>
        </nav>
    </div>

    <!-- carrousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="conteudo1">
                    <div class="left">
                        <h1>Faça seu empréstimo de forma simples, sem burocracia e 100% digital</h1>
                    </div>
                    <div class="right">
                        <a href="#">
                            Empréstimo Online
                            <img src="./assets/img/landing2/section0/money.png" alt="">
                        </a>
                        <a href="#">
                            Seja um parceiro
                            <img src="./assets/img/landing2/section0/pessoas.png" alt="">
                        </a>
                    </div>
                </div>
                <img class="d-block w-100" src="./assets/img/landing2/section0/bg1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="conteudo2">
                    <div class="left">
                        <h1>Faça seu empréstimo de forma simples, sem burocracia e 100% digital</h1>
                    </div>
                    <div class="right">
                        <a href="#">
                            Empréstimo Online
                            <img src="./assets/img/landing2/section0/money.png" alt="">
                        </a>
                        <a href="#">
                            Seja um parceiro
                            <img src="./assets/img/landing2/section0/pessoas.png" alt="">
                        </a>
                    </div>
                </div>
                <img class="d-block w-100" src="./assets/img/landing2/section0/bg2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="conteudo3">
                    <div class="left">
                        <h1>Seja um parceiro da Acrédito Brasil</h1>
                    </div>
                    <div class="right">
                        <a href="#">
                            Empréstimo Online
                            <img src="./assets/img/landing2/section0/money.png" alt="">
                        </a>
                        <a href="#">
                            Seja um parceiro
                            <img src="./assets/img/landing2/section0/pessoas.png" alt="">
                        </a>
                    </div>
                </div>
                <img class="d-block w-100" src="./assets/img/landing2/section0/bg3.png" alt="Third slide">
            </div>
        </div>
    </div>


    <!-- section1 -->
    <div id="section2">
        <h1>Nossos parceiros:</h1>

        <div>
            <img src="./assets/img/parceiros/1itau.png" alt="">
            <img src="./assets/img/parceiros/2bmg.png" alt="">
            <img src="./assets/img/parceiros/3safra.png" alt="">
            <img src="./assets/img/parceiros/4pan.png" alt="">
            <img src="./assets/img/parceiros/5banrisul.png" alt="">
            <img src="./assets/img/parceiros/6ole.png" alt="">
        </div>
    </div>

    <!-- section2   -->
    <div id="section3">
        <div class="container">
            <div class="title">
                <h1>Conheça a Acrédito Digital</h1>
            </div>

            <div class="content">
                <div class="contentLeft">
                    <p class="p1">Nascemos em junho de 2011 com o objetivo de ser referência em crédito consignado no
                        Brasil.</p>
                    <p class="p2">Com atuação em todo território nacional, a Acrédito Digital é especializada em
                        Crédito Consignado e oferece, através dos seus bancos parceiros, as melhores soluções em
                        serviços financeiros, atendendo às necessidades de seus clientes, orientando-se pela qualidade,
                        comprometimento, excelência e transparência.</p>
                </div>
                <div class="contentRight">
                    <div class="topIcons">
                        <span>
                            <img src="./assets/img/conheca/1price.png" alt="">
                            <p>Dados</p>
                        </span>
                        <span>
                            <img src="./assets/img/conheca/3hand.png" alt="">
                            <p>Dados</p>
                        </span>
                    </div>
                    <div class="bottomIcons">
                        <span>
                            <img src="./assets/img/conheca/2money.png" alt="">
                            <p>Dados</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="contentBottom">
                <div class="ceo">
                    <div class="infoCeo">
                        <img src="./assets/img/conheca/4ceo.png" alt="">
                        <div class="textosCeo">
                            <p class="nomeCeo">
                                Rodrigo Claudino
                            </p>
                            <p class="statusCeo">
                                CEO
                            </p>
                        </div>
                    </div>
                    <img src="./assets/img/conheca/4link.png" alt="">
                </div>
                <div class="fraseCeo">
                    <p>"Nós da Acrédito Digital entendemos que, tão importante quanto a efetivação do empréstimo
                        consignado é a nossa responsabilidade e comprometimento com nossos clientes em todo o processo
                        e com transparência."</p>
                </div>
            </div>
        </div>
    </div>


    <!-- section3 -->
    <section id="section5">
        <div class="title">
            <h1>Acrédito na mídia</h1>
            <p>Fique por dentro do que acontece nos bastidores da nossa empresa</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="leftContent col-6">
                    <img src="./assets/img/section5/acredito_brasil.png" alt="Pessoal">
                    <p class="noticiaData">17/04/2018</p>
                    <a href="https://medium.com/grupoacredito/a-acr%C3%A9dito-brasil-investe-em-novos-talentos-diante-da-alta-no-desemprego-40f80787c903"
                        target="_blank">
                        <p class="noticiaDescricao">Grupo Acrédito investe em novos talentos diante da alta de
                            desempregos.</p>
                    </a>
                    <div class="icons">
                        <a target="_blank" href="https://www.linkedin.com/showcase/acredito-digital/">
                            <img src="./assets/img/linkedinIcon.png" alt="Linkedin">
                        </a>
                        <a target="_blank" href="#">
                            <img src="./assets/img/mediumIcon.png" alt="Medium">
                        </a>
                    </div>
                </div>

                <div class="rightContent col-6">
                    <ul>
                        <li>
                            <p class="notData">12/04/2018</p>
                            <a target="_blank" href="https://medium.com/grupoacredito/dias-das-m%C3%A3es-especial-no-grupo-acr%C3%A9dito-aa19d8735f6">
                                <p class="notTitle">Dia das Mães na Acrédito Digital</p>
                            </a>
                            <div class="icons">
                                <a target="_blank" href="https://www.linkedin.com/showcase/acredito-digital/">
                                    <img src="./assets/img/linkedinIcon.png" alt="Linkedin">
                                </a>
                                <a target="_blank" href="#">
                                    <img src="./assets/img/mediumIcon.png" alt="Medium">
                                </a>
                            </div>
                        </li>
                        <li>
                            <p class="notData">17/04/2018</p>
                            <a target="_blank" href="https://medium.com/@jefpower/grupo-acr%C3%A9dito-apoia-a-campanha-de-conscientiza%C3%A7%C3%A3o-setembro-amarelo-be2893508fb0">
                                <p class="notTitle">Grupo Acrédito apoia a campanha de conscientização "Setembro
                                    Amarelo"</p>
                            </a>
                            <div class="icons">
                                <a target="_blank" href="https://www.linkedin.com/showcase/acredito-digital/">
                                    <img src="./assets/img/linkedinIcon.png" alt="Linkedin">
                                </a>
                                <a target="_blank" href="#">
                                    <img src="./assets/img/mediumIcon.png" alt="Medium">
                                </a>
                            </div>
                        </li>
                        <li>
                            <p class="notData">12/04/2018</p>

                            <a target="_blank" href="https://medium.com/grupoacredito/acr%C3%A9dito-em-clima-de-festa-julina-3a89d625ac2d">
                                <p class="notTitle">Acrédito em clima de festa julina</p>
                            </a>

                            <div class="icons">
                                <a target="_blank" href="https://www.linkedin.com/showcase/acredito-digital/">
                                    <img src="./assets/img/linkedinIcon.png" alt="Linkedin">
                                </a>
                                <a target="_blank" href="#">
                                    <img src="./assets/img/mediumIcon.png" alt="Medium">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>


    <!-- duvidas frequentes -->
    <section id="section5Duvidas">
        <div class="title">
            <h1>Dúvidas Frequentes</h1>
        </div>


        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            O que é empréstimo consignado?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        O Crédito consignado é um empréstimo com pagamento indireto, cujas parcelas são deduzidas
                        diretamente da folha de pagamento ou benefício da pessoa física.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Como calcular sua Margem Livre?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        A margem consignável pode ser compreendida como o limite para desconto no contracheque ou
                        benefício INSS. A margem livre ou margem disponível para um empréstimo deve ser calculada da
                        seguinte forma:
                        <p>
                            (Valor líquido da renda ou benefício) * 30% – (valor das parcelas pagas de todos os
                            empréstimos consignados)
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Como funciona a aposentadoria do INSS?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        A aposentadoria por tempo de contribuição é um benefício devido ao cidadão que comprovar o
                        tempo total de 35 anos de contribuição, se homem, ou 30 anos de contribuição, se mulher.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            O que é portabilidade?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        A portabilidade possibilita a transferência da dívida para outro banco com taxa de juros menor.
                    </div>
                </div>
            </div>
        </div>



    </section>


    <!-- section4 -->
    <section class="section6">

        <div class="conteudoGeral">

            <div class="conteudoTop">
                <h1>Buscando tratar outros assuntos?</h1>
                <p>Preencha o formulário abaixo que entraremos em contato</p>
            </div>

            <div class="conteudoMiddle">
                <div class="componentFormulario">
                    <h4>Fale com a gente</h4>
                    <form>
                        <input type="text" id="formName" class="form-control" placeholder="Nome completo">

                        <input type="email" id="formEmail" class="form-control" placeholder="Digite seu e-mail">

                        <input type="phone" id="formPhone" class="form-control" placeholder="Telefone">

                        <input type="text" id="formAssunto" class="form-control" placeholder="Assunto">

                        <textarea class="form-control rounded-0" id="formMensagem" rows="3" placeholder="Digite sua mensagem"></textarea>

                        <button class="btn" type="submit">
                            Continuar
                            <a href="#">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </button>

                    </form>
                </div>


                <div class="conteudoMiddleR">
                    <div>
                        <h3>Atendimento</h3>
                        <p>
                            <img src="./assets/img/section6/close-envelope.png" alt="">
                            jeferson.carlos@acreditodigital.com.br
                        </p>
                        <p class="pMB">
                            <img src="./assets/img/section6/whatsapp-logo.png" alt="">
                            11 95037-1106
                        </p>
                    </div>
                    <div>
                        <h3>Horário de Atendimento</h3>
                        <p>Atendimento de segunda a sexta-feira</p>
                        <p class="pMB">Das 10h às 15h</p>
                    </div>
                    <div>
                        <h3>Trabalhe conosco</h3>
                        <p>rh@acreditobrasil.com.br</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row footer-cols">

                <div class="col-4 socialMedia">
                    <div class="logoFooter">
                        <img src="./assets/img/landing2/footer/logoacredito.png" alt="">
                    </div>

                    <div class="umaEmpresa">
                        <p>Uma empresa do</p>
                        <img src="./assets/img/section7_footer/logotipoacredito.png" alt="">
                    </div>
                </div>

                <div class="col-8 privacidade">
                    <h4>Política de Privacidade</h4>
                    <p>A Acrédito Brasil é uma empresa pertencente ao Grupo Acrédito, com sede na R. 24 de Maio, 35 –
                        República, São Paulo – SP, CEP:01041-001. Para entrar em contato, utilizar os botões ou
                        formulários neste site. A Acrédito Brasil é uma instituição prestadora de serviços de
                        empréstimo consignado para aposentados e pensionistas do INSS. Possui uma plataforma online que
                        facilita o acesso de clientes a produtos e serviços oferecidos por instituições financeiras.
                        Atua como correspondente bancário do Banco J.Safra S/A, inscrito no CNPJ sob o Nº
                        03.017.677/0001-20, Banco Pan S.A., inscrito no CNPJ sob o Nº 59.285.411/0001-13, Banco
                        BONSUCESSO S.A., inscrito no CNPJ sob o Nº 71.027.866/0001-34, Banco Banrisul S/a, inscrito no
                        CNPJ sob o Nº 92.702.067/0001-96 e Banco Daycoval S.A., inscrito no CNPJ sob o Nº
                        62.232.889/0001-90. As atividades de atendimento visam à recepção e encaminhamento de propostas
                        de operações de crédito de responsabilidade desses bancos mencionados.</p>
                    <p>Os correspondentes bancários são empresas contratadas por instituições financeiras e demais
                        instituições autorizadas pelo Banco Central do Brasil para prestação de serviços de
                        intermediação e atendimento aos clientes e usuários dessas instituições. A atividade de
                        correspondente bancário é uma atividade regulada pelo Banco Central do Brasil, nos termos da
                        Resolução nº 3.954, de 24 de fevereiro de 2011.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="./script.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>