/* navigation */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

div.fixed-top {
  font-family: 'Montserrat', sans-serif;
}

div.fixed-top nav.navbar.navTop {
  color: #fff;
  background: #043979;
  height: 46px;
  min-height: 46px;
  font-size: 0.8rem;
  align-items: center;
}

div.fixed-top nav.navbar.navTop div.mx-auto {
  width: 96%;
  flex-direction: row;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left {
  display: flex;
  align-items: baseline;
  width: 100%;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left a.navbar-brand {
  font-size: 0.8rem;
  margin-right: 5%;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left a.navbar-brand img {
  width: auto;
  height: 10px;
  vertical-align: baseline;
  margin-right: 5%;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse {
  width: inherit;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav {
  margin-bottom: 0rem;
  text-align: -webkit-center;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav li.nav-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: max-content;
  padding: 0 0.3rem;
  margin-right: 10px;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav li.nav-item a.nav-link {
  width: fit-content;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav li.nav-item img {
  width: 10px;
  height: fit-content;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.right {
  width: auto;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.right div.collapse ul.navbar-nav {
  width: max-content;
  margin: 0;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.right div.collapse ul.navbar-nav li.nav-item {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.right div.collapse ul.navbar-nav li.nav-item a.nav-link {
  width: fit-content;
  color: #fff;
}

div.fixed-top nav.navbar.navTop div.mx-auto div.left div.right div.collapse ul.navbar-nav li.nav-item img {
  width: 10px;
  height: fit-content;
}

div.fixed-top nav.navBottom {
  background: #fff;
  display: flex;
  min-height: 76px;
  color: #222;
  justify-content: space-between;
  padding: 0 2%;
}

div.fixed-top nav.navBottom div.logo {
  position: absolute;
  top: 0;
}

div.fixed-top nav.navBottom div.logo img {
  max-height: 130px;
  width: auto;
}

div.fixed-top nav.navBottom div.links {
  width: 46%;
  position: absolute;
  left: 17%;
  max-width: 590px;
}

div.fixed-top nav.navBottom div.links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

div.fixed-top nav.navBottom div.links ul li {
  margin-right: 4%;
  white-space: nowrap;
}

div.fixed-top nav.navBottom div.search {
  position: absolute;
  right: 1%;
}

div.fixed-top nav.navBottom div.search form {
  display: flex;
}

div.fixed-top nav.navBottom div.search form input#formSearch {
  background: #e8e8e8;
  font-size: 0.8rem;
  min-width: 220px;
  border-radius: 0;
}

div.fixed-top nav.navBottom div.search form button.btn {
  right: 1%;
  position: relative;
  border-radius: 0;
  background: #d2ab3c;
  margin-bottom: 3%;
}

div.fixed-top nav.navBottom div.search form button.btn a {
  color: #fff;
}

.selected {
  background: rgba(4, 57, 121, .7) !important;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

@media all and (max-width: 1024px) {}

@media all and (max-width: 991px) {
  div.fixed-top nav.navbar.navTop {
    height: inherit;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto {
    align-items: flex-start;
    justify-content: inherit;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav {
    text-align: start;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.left div.collapse ul.navbar-nav li.nav-item img {
    display: none;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.right div.collapse ul.navbar-nav {
    flex-direction: row;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.right div.collapse ul.navbar-nav li.nav-item {
    padding: 0 0.8rem;
  }

  div.fixed-top nav.navBottom {
    height: 80px;
    min-height: 80px;
    flex-direction: row;
    align-items: center;
  }

  div.fixed-top nav.navBottom div.logo {
    position: relative;
    top: 16px;
  }

  div.fixed-top nav.navBottom div.logo img {
    max-height: 110px;
  }

  div.fixed-top nav.navBottom div.links {
    width: auto;
  }

  div.fixed-top nav.navBottom div.links ul {
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  div.fixed-top nav.navBottom div.logo {
    top: 0;
  }

  div.fixed-top nav.navBottom div.logo img {
    max-height: 70px;
  }

  div.fixed-top nav.navBottom div.links ul li {
    font-size: 0.7rem;
    margin-bottom: 3%;
  }

  div.fixed-top nav.navBottom div.search form input {
    font-size: 0.7rem;
    min-width: 195px;
  }
}

@media all and (max-width: 575px) {
  div.fixed-top nav.navbar.navTop {
    min-height: 56px;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.right div.collapse {
    padding-top: 5%;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto div.right div.collapse ul.navbar-nav {
    justify-content: space-between;
  }

  div.fixed-top nav.navbar.navTop div.mx-auto button {
    position: fixed;
    top: 1%;
    right: 2%;
  }

  div.fixed-top nav.navBottom {
    height: 135px;
    min-height: 135px;
    flex-direction: column;
  }

  div.fixed-top nav.navBottom div.logo {
    position: absolute;
    left: 3%;
    top: 3%;
  }

  div.fixed-top nav.navBottom div.links {
    position: absolute;
    top: 6%;
    right: 4%;
    text-align: -webkit-right;
  }

  div.fixed-top nav.navBottom div.links ul li {
    margin-bottom: 3%;
  }

  div.fixed-top nav.navBottom div.search {
    position: absolute;
    bottom: 3%;
    width: -webkit-fill-available;
    padding: 0px 3%;
    right: 0%;
  }
}

@media all and (max-width: 360px) {}




/* //////////////////////////////////////////////////////////////////// */
* {
  font-family: 'Montserrat', sans-serif;
}

#carouselExampleSlidesOnly {
  top: 122px;
}

.conteudo1 {
  position: fixed;
  top: 250px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 3% 0 7%;
}

.conteudo1 .left {
  margin-right: 0;
}

.conteudo1 .left h1 {
  font-weight: bold;
  font-size: 3rem;
  width: max-content;
  max-width: 736px;
}

.conteudo1 .left a {
  font-size: 0.85rem;
  color: #fff;
  width: 240px;
  height: 60px;
  padding: 1.5% 2%;
  border: 1px solid #fff;
  border-radius: 0;
  margin-left: 28%;
  text-decoration: none;
}

.conteudo1 div.right {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.conteudo1 div.right a {
  background: rgba(228, 174, 17, 0.9834);
  padding: 1% 1.5%;
  border: 1px solid rgba(228, 174, 17, 0.9834);
  border-radius: 0;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 50px;
  font-weight: bold;
}

.conteudo1 div.right a img {
  padding: 0 1% 0 8%;
  height: 32px;
  width: auto;
}

.conteudo2 {
  position: fixed;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: 250px;
  padding-right: 55px;
}

.conteudo2 .left {
  margin-right: 12%;
}

.conteudo2 .left h1 {
  display: none;
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  margin-bottom: 8%;
}

.conteudo2 .left a {
  display: none;
  font-size: 0.85rem;
  color: #fff;
  width: 240px;
  height: 60px;
  padding: 1.5% 2%;
  border: 1px solid #fff;
  border-radius: 0;
  margin-left: 28%;
  text-decoration: none;
}

.conteudo2 div.right {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.conteudo2 div.right a {
  background: rgba(228, 174, 17, 0.9834);
  padding: 1% 1.5%;
  border: 1px solid rgba(228, 174, 17, 0.9834);
  border-radius: 0;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 50px;
  font-weight: bold;
}

.conteudo2 div.right a img {
  padding: 0 1% 0 8%;
  height: 32px;
  width: auto;
}

.conteudo3 {
  position: fixed;
  top: 250px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 3% 0 7%;
}

.conteudo3 .left {
  max-width: 530px;
}

.conteudo3 .left h1 {
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  margin-bottom: 8%;
}

.conteudo3 .left a {
  font-size: 0.85rem;
  color: #fff;
  width: 240px;
  height: 60px;
  padding: 1.5% 2%;
  border: 1px solid #fff;
  border-radius: 0;
  margin-left: 28%;
  text-decoration: none;
}

.conteudo3 div.right {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.conteudo3 div.right a {
  background: rgba(228, 174, 17, 0.9834);
  padding: 1% 1.5%;
  border: 1px solid rgba(228, 174, 17, 0.9834);
  border-radius: 0;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 50px;
  font-weight: bold;
}

.conteudo3 div.right a img {
  padding: 0 1% 0 8%;
  height: 32px;
  width: auto;
}

#carouselExampleFade {
  top: 122px;
}

ngb-carousel * {
  width: 100%;
  height: auto;
}

div#showcase {
  color: #fff;
  width: 100%;
  height: 91vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

@media all and (max-width: 1024px) {
  .conteudo1 .left h1 {
    font-size: 1.5rem;
    width: 350px;
  }

  .conteudo2 .left h1 {
    font-size: 1.5rem;
    width: 350px;
  }

  .conteudo3 .left h1 {
    font-size: 1.5rem;
    width: 340px;
  }
}

@media all and (max-width: 768px) {
  .conteudo1 {
    top: 10%;
    left: 25%;
    flex-direction: column;
  }

  .conteudo1 .left {
    width: 325px;
    margin-bottom: 5%;
  }

  .conteudo1 .left h1 {
    margin-bottom: 3%;
    font-size: 1.4rem;
    text-align: -webkit-center;
  }

  .conteudo1 .left a {
    margin-left: 37%;
  }

  .conteudo1 div.right {
    width: 325px;
    margin-left: 6%;
  }

  .conteudo2 {
    top: 10%;
    left: 25%;
    flex-direction: column;
  }

  .conteudo2 .left {
    width: 325px;
    margin-bottom: 5%;
  }

  .conteudo2 .left h1 {
    margin-bottom: 3%;
    font-size: 1.4rem;
    text-align: -webkit-center;
  }

  .conteudo2 .left a {
    margin-left: 37%;
  }

  .conteudo2 div.right {
    width: 325px;
    margin-left: 6%;
    margin-top: 19.5%;
  }

  .conteudo3 {
    top: 17%;
    left: 25%;
    flex-direction: column;
  }

  .conteudo3 .left {
    width: 325px;
    margin-bottom: 5%;
  }

  .conteudo3 .left h1 {
    width: 323px;
    margin-bottom: 3%;
    font-size: 1.4rem;
    text-align: -webkit-center;
  }

  .conteudo3 .left a {
    margin-left: 37%;
  }

  .conteudo3 div.right {
    width: 325px;
    margin-left: 6%;
  }
}

@media all and (max-width: 575px) {
  .conteudo1 {
    top: 7%;
    left: 0;
  }

  .conteudo1 .left {
    width: inherit;
  }

  .conteudo1 .left h1 {
    font-size: 1rem;
    width: inherit;
    padding: 0 1rem;
  }

  .conteudo1 div.right {
    width: 255px;
    margin: 0 auto;
  }

  .conteudo1 div.right a {
    padding: 0.5% 1%;
    font-size: 0.8rem;
    width: 142px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
  }

  .conteudo1 div.right a img {
    display: none;
  }

  .conteudo2 {
    top: 7%;
    left: 0;
  }

  .conteudo2 .left {
    width: inherit;
  }

  .conteudo2 .left h1 {
    font-size: 1rem;
    width: inherit;
    padding: 0 1rem;
  }

  .conteudo2 div.right {
    width: 255px;
    margin: 0 auto;
    padding-top: 20%;
  }

  .conteudo2 div.right a {
    padding: 0.5% 1%;
    font-size: 0.8rem;
    width: 142px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
  }

  .conteudo2 div.right a img {
    display: none;
  }

  .conteudo3 {
    top: 7%;
    left: 0;
  }

  .conteudo3 .left {
    width: inherit;
  }

  .conteudo3 .left h1 {
    font-size: 1rem;
    width: inherit;
    padding: 0 1rem;
  }

  .conteudo3 div.right {
    width: 255px;
    margin: 0 auto;
  }

  .conteudo3 div.right a {
    padding: 0.5% 1%;
    font-size: 0.8rem;
    width: 142px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
  }

  .conteudo3 div.right a img {
    display: none;
  }

  ngb-carousel {
    top: 191px;
  }
}

@media all and (max-width: 360px) {}


/* ////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#section2 {
  position: relative;
  top: 122px;
  width: 100%;
  height: 35%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff3f3;
  padding: 2% 3% 3% 3%;
}

#section2 h1 {
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #e4ae10;
}

#section2 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 26px;
}

#section2 div img {
  max-height: 80px;
  width: auto;
  margin: 0.5rem;
}

@media all and (max-width: 768px) {
  #section2>h1 {
    font-size: 32px;
  }

  #section2>div>img {
    max-height: 48px;
    margin: 0.1rem;
  }
}

@media all and (max-width: 575px) {
  #section2 {
    top: 191px;
  }

  #section2>h1 {
    font-size: 26px;
  }

  #section2>div>img {
    max-height: 42px;
    margin: 0.1rem;
  }
}


/* ////////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

#section3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 100%;
  height: 100vh;
  background: url("./assets/img/conheca/conheca-bg.png") no-repeat center/cover;
}

#section3 div.container {
  display: flex;
  flex-direction: column;
  width: 84%;
  padding: 10vh 0 10vh 0;
  justify-content: center;
  top: 17%;
  position: relative;
}

#section3 div.container div.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

#section3 div.container div.title h1 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 60px;
  color: #fff;
}

#section3 div.container div.content {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 2%;
  max-width: 800px;
}

#section3 div.container div.content div.contentLeft {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 3rem;
}

#section3 div.container div.content div.contentLeft p {
  font-size: 0.8rem;
}

#section3 div.container div.content div.contentLeft p.p1 {
  margin-bottom: 1rem;
}

#section3 div.container div.content div.contentRight {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#section3 div.container div.content div.contentRight div.topIcons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

#section3 div.container div.content div.contentRight div.topIcons span img {
  height: 42px;
  width: auto;
}

#section3 div.container div.content div.contentRight div.topIcons span p {
  font-size: 0.9rem;
}

#section3 div.container div.content div.contentRight div.bottomIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

#section3 div.container div.content div.contentRight div.bottomIcons span img {
  height: 42px;
  width: auto;
}

#section3 div.container div.content div.contentRight div.bottomIcons span p {
  font-size: 0.9rem;
}

#section3 div.container div.contentBottom {
  margin: 0 auto;
  width: 85%;
  padding: 1.5rem 2.2rem;
  border: 3px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

#section3 div.container div.contentBottom div.ceo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#section3 div.container div.contentBottom div.ceo div.infoCeo {
  display: flex;
}

#section3 div.container div.contentBottom div.ceo div.infoCeo img {
  width: auto;
  height: 60px;
}

#section3 div.container div.contentBottom div.ceo div.infoCeo div.textosCeo {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
}

#section3 div.container div.contentBottom div.ceo div.infoCeo div.textosCeo p.nomeCeo {
  font-size: 1rem;
  text-align: left;
  margin: 0;
}

#section3 div.container div.contentBottom div.ceo div.infoCeo div.textosCeo p.statusCeo {
  font-size: 1rem;
  text-align: left;
  margin: 0;
}

#section3 div.container div.contentBottom div.ceo img {
  width: auto;
  height: 32px;
}

#section3 div.container div.contentBottom div.fraseCeo p {
  font-size: 0.9rem;
}

@media all and (max-width: 1024px) {
  #section3 div.container div.title h1 {
    font-size: 2.5rem;
  }

  #section3 div.container div.content div.contentLeft {
    width: 52%;
  }
}

@media all and (max-width: 768px) {
  #section3 div.container {
    width: 96%;
  }

  #section3 div.container div.content div.contentLeft {
    width: 65%;
  }
}

@media all and (max-width: 575px) {
  #section3 div.container div.title {
    margin-bottom: 0.5rem;
  }

  #section3 div.container div.title h1 {
    font-size: 1.5rem;
  }

  #section3 div.container div.content {
    margin-bottom: 0rem;
  }

  #section3 div.container div.content div.contentRight div.topIcons {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  #section3 div.container div.contentBottom {
    padding: 0.7rem;
  }

  #section3 div.container div.contentBottom div.ceo img {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  #section3 div.container div.contentBottom div.fraseCeo p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 360px) {
  #section3 div.container div.title h1 {
    font-size: 1.2rem;
  }

  #section3 div.container div.content {
    flex-direction: column;
  }

  #section3 div.container div.content div.contentLeft {
    width: 98%;
  }

  #section3 div.container div.content div.contentRight {
    width: 98%;
  }

  #section3 div.container div.content div.contentRight div.topIcons {
    flex-direction: row;
    justify-content: space-around;
  }

  #section3 div.container div.content div.contentRight div.topIcons span img {
    height: 30px;
  }

  #section3 div.container div.content div.contentRight div.bottomIcons span img {
    height: 30px;
  }

  #section3 div.container div.contentBottom div.ceo {
    margin: 0;
  }

  #section3 div.container div.contentBottom div.ceo div.infoCeo img {
    display: none;
  }

  #section3 div.container div.contentBottom div.ceo img {
    display: none;
  }

  #section3 div.container div.contentBottom div.fraseCeo p {
    font-size: 0.7rem;
    margin: 0;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

section#section5 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

section#section5 div.title {
  margin-bottom: 3rem;
}

section#section5 div.title h1 {
  font-weight: bold;
  font-size: 60px;
  color: #e4ae10;
  margin-bottom: 0;
}

section#section5 div.title p {
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 0;
}

section#section5 div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section#section5 div.container div.row {
  padding-left: 9%;
}

section#section5 div.container div.row div.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section#section5 div.container div.row div.leftContent img {
  width: 100%;
  max-width: 531px;
  height: auto;
}

section#section5 div.container div.row div.leftContent p.noticiaData {
  font-size: 14px;
  color: #212529;
  margin: 10px 0 0 0;
}

section#section5 div.container div.row div.leftContent a p.noticiaDescricao {
  font-weight: 500;
  font-size: 1.2rem;
  color: #212529;
  text-align: left;
  width: 84%;
  margin: 0;
}

section#section5 div.container div.row div.leftContent div.icons {
  display: inline-block;
  margin-top: 2px;
}

section#section5 div.container div.row div.leftContent div.icons img {
  width: 32px;
  height: auto;
  margin: 0 10px 0 0px;
}

section#section5 div.container div.row div.rightContent {
  text-align: left;
  padding-left: 0;
}

section#section5 div.container div.row div.rightContent ul {
  list-style: none;
}

section#section5 div.container div.row div.rightContent ul li {
  margin-bottom: 3rem;
}

section#section5 div.container div.row div.rightContent ul li p.notData {
  margin: 0;
  font-size: 0.9rem;
}

section#section5 div.container div.row div.rightContent ul li p.notTitle {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

section#section5 div.container div.row div.rightContent ul li div.icons {
  display: inline-block;
}

section#section5 div.container div.row div.rightContent ul li div.icons img {
  width: 32px;
  height: auto;
  margin: 0 10px 0 0px;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  section#section5 {
    height: 77vh;
  }

  section#section5 div.title h1 {
    font-size: 50px;
  }

  section#section5 div.title p {
    font-size: 14px;
  }

  section#section5 div.container div.row div.leftContent {
    justify-content: space-around;
  }

  section#section5 div.container div.row div.leftContent a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  section#section5 div.container div.row div.leftContent a p.noticiaDescricao {
    font-size: 1rem;
    width: 100%;
    color: #000;
  }

  section#section5 div.container div.row div.leftContent a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  section#section5 div.container div.row div.leftContent a:visited p.noticiaDescricao {
    font-size: 1rem;
    width: 100%;
    color: #000;
  }

  section#section5 div.container div.row div.leftContent a:hover {
    text-decoration: none;
    color: inherit;
  }

  section#section5 div.container div.row div.rightContent ul li p.notData {
    font-size: 0.8rem;
  }

  section#section5 div.container div.row div.rightContent ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  section#section5 div.container div.row div.rightContent ul li a p.notTitle {
    font-size: 0.8rem;
    color: #000;
  }

  section#section5 div.container div.row div.rightContent ul li a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  section#section5 div.container div.row div.rightContent ul li a:visited p.notTitle {
    font-size: 0.8rem;
    color: #000;
  }

  section#section5 div.container div.row div.rightContent ul li a:hover {
    text-decoration: none;
    color: inherit;
  }

  section#section5 div.container div.row div.rightContent ul li div.icons a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  section#section5 div.container div.row div.rightContent ul li div.icons a img {
    width: 26px;
  }

  section#section5 div.container div.row div.rightContent ul li div.icons a:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media all and (max-width: 575px) {
  section#section5 {
    height: 88vh;
  }

  section#section5 div.title h1 {
    font-size: 26px;
    margin-top: 12px;
  }

  section#section5 div.title p {
    font-size: 13px;
  }
}

@media all and (max-width: 360px) {
  section#section5 {
    height: 100%;
  }

  section#section5 div.title {
    margin-bottom: 1.3rem;
  }

  section#section5 div.container div.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  section#section5 div.container div.row div.leftContent {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    padding: 0;
    margin: 0;
  }

  section#section5 div.container div.row div.leftContent img {
    display: none;
  }

  section#section5 div.container div.row div.leftContent div.icons img {
    margin: 0 20px 0 0px;
  }

  section#section5 div.container div.row div.rightContent {
    max-width: 100%;
  }

  section#section5 div.container div.row div.rightContent ul {
    padding: 0;
  }

  section#section5 div.container div.row div.rightContent ul li div.icons img {
    margin: 0 20px 0 0px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

section#section5Duvidas {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e9e9e9;
  height: 100vh;
}

section#section5Duvidas div.title {
  width: auto;
  margin-bottom: 3.4rem;
}

section#section5Duvidas div.title h1 {
  font-weight: bold;
  font-size: 52px;
  color: #e4ae10;
}

section#section5Duvidas div#accordion {
  width: 50%;
}

section#section5Duvidas div#accordion .card {
  background-color: #E9E9E9;
  border: none;
  margin-bottom: 3%;
}

section#section5Duvidas div#accordion .card .card-header {
  background-color: #E4AE10;
  border-radius: 20px;
  height: 42px;
  padding: 0;
}

section#section5Duvidas div#accordion .card .card-header h5 button {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.card-body {
  font-size: .8rem;
  padding: 1.25rem 1.6rem;
  align-items: left;
  text-align: left;
}




@media all and (max-width: 1024px) {
  section#section5Duvidas div.title h1 {
    font-size: 46px;
  }
}

@media all and (max-width: 768px) {
  section#section5Duvidas div.title h1 {
    font-size: 32px;
  }
}

@media all and (max-width: 575px) {
  section#section5Duvidas {
    height: 100%;
  }

  section#section5Duvidas div.title h1 {
    font-size: 29px;
    margin: 10px 0 10px 0;
  }
}

@media all and (max-width: 360px) {
  section#section5Duvidas div.title h1 {
    font-size: 20px;
    margin: 10px 10px 0 10px;
  }
}

/* ///////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

section.section6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  color: #e9e9e9;
  margin: 0;
  padding: 0;
  background: url("./assets/img/section6/bgPrancheta.png") no-repeat center/cover;
}

section.section6 div.conteudoGeral {
  width: 80%;
  margin-top: 5%;
}

section.section6 div.conteudoGeral div.conteudoTop {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}

section.section6 div.conteudoGeral div.conteudoTop h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

section.section6 div.conteudoGeral div.conteudoTop p {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

section.section6 div.conteudoGeral div.conteudoMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  padding: 0;
}

section.section6 div.conteudoGeral div.conteudoMiddle .componentFormulario {
  width: 50%;
  max-width: 426px;
  margin-right: 5rem;
}

section.section6 div.conteudoGeral div.conteudoMiddle .componentFormulario h4 {
  color: #fff;
}

section.section6 div.conteudoGeral div.conteudoMiddle .componentFormulario form {
  padding: 5% 7%;
}


section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
}

section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div {
  margin-bottom: 20%;
}

section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div h3 {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 2% 0;
  padding: 0;
}

section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.3rem;
}

section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div p img {
  height: auto;
  width: 19px;
}

section.section6 div.conteudoBottom {
  width: 60%;
}

section.section6 div.conteudoBottom p {
  font-weight: 500;
  line-height: normal;
  margin: 0.3rem;
  font-size: 0.9rem;
  text-align: center;
}

@media all and (max-width: 1024px) {
  section.section6 div.conteudoGeral {
    width: 90%;
  }

  section.section6 div.conteudoGeral div.conteudoTop h1 {
    font-size: 2rem;
  }

  section.section6 div.conteudoGeral div.conteudoTop p {
    font-size: 0.8rem;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle {
    justify-content: space-around;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle .componentFormulario {
    width: 50%;
  }

  section.section6 div.conteudoBottom {
    width: 84%;
  }
}

@media all and (max-width: 768px) {
  section.section6 div.conteudoGeral {
    margin-top: 8%;
    width: 95%;
  }

  section.section6 div.conteudoGeral div.conteudoTop {
    padding-bottom: 1%;
  }

  section.section6 div.conteudoGeral div.conteudoTop h1 {
    font-size: 1.3rem;
  }

  section.section6 div.conteudoGeral div.conteudoTop p {
    font-size: 0.7rem;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle {
    display: flex;
    flex-direction: column;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle .componentFormulario {
    width: 100%;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR {
    margin-top: 1%;
    width: 80%;
    text-align: center;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div {
    margin-bottom: 2%;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div h3 {
    font-size: 1rem;
    margin: 0;
  }

  section.section6 div.conteudoBottom {
    width: 92%;
  }

  section.section6 div.conteudoBottom p {
    font-size: 0.6rem;
  }
}

@media all and (max-width: 575px) {}

@media all and (max-width: 360px) {
  section.section6 div.conteudoGeral {
    margin: 2%;
  }

  section.section6 div.conteudoGeral div.conteudoTop h1 {
    font-size: 0.9rem;
  }

  section.section6 div.conteudoGeral div.conteudoTop p {
    font-size: 0.6rem;
  }

  section.section6 div.conteudoGeral div.conteudoMiddle div.conteudoMiddleR div p img {
    display: none;
  }
}


/* /////////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

h4 {
  background: #e6b71f;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
}

form {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  padding: 3% 5%;
}

form .form-control {
  border-radius: 0;
  margin-bottom: 3%;
  font-size: 0.8rem;
}

form button {
  background: #3665e0;
  color: #fff;
  font-size: 0.8rem;
  width: 100%;
}

form button a {
  margin-left: 5%;
  color: #fff;
}

@media all and (max-width: 1024px) {
  h4 {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 1.1rem;
    padding: 0.3rem;
  }

  form {
    padding: 0.8%;
  }

  form .form-control {
    margin-bottom: 1.4%;
    height: calc(2.25rem - 8px);
  }
}

@media all and (max-width: 575px) {}

@media all and (max-width: 360px) {
  h4 {
    font-size: 0.9rem;
    padding: 0.1rem;
  }

  form {
    padding: 0.6%;
  }

  form .form-control {
    height: calc(2.25rem - 10px);
  }

  form button {
    padding: 0;
  }
}



/* /////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

footer {
  position: relative;
  padding: 2% 2% 2% 0%;
  width: inherit;
  background-color: #222;
  color: #fff;
}

footer div.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

footer div.container div.footer-cols {
  display: flex;
  flex-direction: row;
  margin: 0;
}

footer div.container div.footer-cols div.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div.container div.footer-cols div.socialMedia div.logoFooter {
  margin-bottom: 1.4vh;
}

footer div.container div.footer-cols div.socialMedia div.logoFooter img {
  height: auto;
  width: 128px;
}

footer div.container div.footer-cols div.socialMedia div.socialMediaP p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0;
}

footer div.container div.footer-cols div.socialMedia div.socialMediaIcons {
  margin-bottom: 2vh;
}

footer div.container div.footer-cols div.socialMedia div.socialMediaIcons ul.smIcons {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

footer div.container div.footer-cols div.socialMedia div.socialMediaIcons ul.smIcons li {
  margin: 0 17%;
}

footer div.container div.footer-cols div.socialMedia div.socialMediaIcons ul.smIcons li a img {
  height: 14px;
  width: auto;
}

footer div.container div.footer-cols div.socialMedia div.umaEmpresa {
  display: flex;
  align-items: center;
}

footer div.container div.footer-cols div.socialMedia div.umaEmpresa p {
  font-size: 0.8rem;
  margin: 0 0.3rem 0 0;
  padding: 0;
}

footer div.container div.footer-cols div.socialMedia div.umaEmpresa img {
  height: 24px;
  width: auto;
}

footer div.container div.footer-cols div.privacidade h4 {
  font-size: 0.7rem;
  background-color: #222222;
  padding: 0 0 0.5rem 0;
}

footer div.container div.footer-cols div.privacidade p {
  font-size: 0.59rem;
  text-align: justify;
}

@media all and (max-width: 1024px) {
  footer div.container div.footer-cols div.socialMedia div.logoFooter {
    margin-bottom: 3vh;
  }

  footer div.container div.footer-cols div.socialMedia div.socialMediaP p {
    font-size: 0.6rem;
  }

  footer div.container div.footer-cols div.socialMedia div.socialMediaIcons {
    margin-bottom: 3vh;
  }

  footer div.container div.footer-cols div.socialMedia div.socialMediaIcons ul.smIcons li {
    margin: 0 12%;
  }

  footer div.container div.footer-cols div.socialMedia div.umaEmpresa {
    flex-direction: column;
  }

  footer div.container div.footer-cols div.socialMedia div.umaEmpresa p {
    font-size: 0.6rem;
  }

  footer div.container div.footer-cols div.privacidade p {
    line-height: normal;
  }
}

@media all and (max-width: 768px) {
  footer {
    padding: 2%;
  }

  footer div.container div.footer-cols div.socialMedia div.socialMediaP {
    text-align: center;
  }
}

@media all and (max-width: 575px) {
  footer {
    top: 191px;
  }

  footer div.container div.footer-cols {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  footer div.container div.footer-cols div.socialMedia {
    padding: 0;
    margin: 0;
    width: inherit;
    flex: 0;
    max-width: 100%;
  }

  footer div.container div.footer-cols div.socialMedia div.logoFooter {
    margin-bottom: 1vh;
  }

  footer div.container div.footer-cols div.socialMedia div.socialMediaIcons {
    margin-bottom: 1vh;
  }

  footer div.container div.footer-cols div.socialMedia div.umaEmpresa {
    margin-bottom: 2vh;
  }

  footer div.container div.footer-cols div.privacidade {
    flex: 0;
    max-width: 93%;
  }
}

@media all and (max-width: 360px) {
  footer div.container div.footer-cols div.privacidade {
    max-width: 100%;
  }
}