section#passo2b {
    position: absolute;
    top: 25%;
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #222222; 
    text-align: center;

    div.breadcrumb {

    }

    div.title {
        width: 65%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
            font-family: 'Montserrat Semibold', sans-serif;
            color: #E4AE10;
            text-align: center;
            margin-bottom: 0;
        }

        p {
            font-size: 0.9rem;
        }

        p.a {
            margin: 0;
        }
    }

    div.conteudoPrincipal {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;

        div.margem {
            border: 1px solid #A5A5A5;
            background: #FBFBFB;
            width: 50%;
            padding: 1rem;
            margin: 0;
            margin-bottom: 1rem;
            max-width: 635px;

            h3.titleMargem {
                color: #222222;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            div.slider {
                width: 90%;
                margin: 0 auto;
                max-width: 540px;

                form {
                    div.form-group {

                        input#formControlRange {

                        }

                        div {
                            display: flex;
                            justify-content: space-between;
                            font-size: .7rem;

                            label {

                            }

                            label#min {

                            }

                            label#max {

                            }
                        }
                    }
                }
            }

            p {
                font-size: .9rem;
            }

            p.a {
                margin-bottom: .2rem;                
            }

            p.b {
                font-weight: bold;
                margin: 0;
            }
        }

        div.parcelas {
            display: flex;
            border: 1px solid #A5A5A5;
            background: #FBFBFB;
            width: 50%;
            padding: 1rem;
            margin: 0;
            justify-content: space-evenly;
            max-width: 635px;

            div.parcela {
                width: 18%;
                background: #FFF9F9;
                border: 1px solid #DEDEDE;
                padding: .5rem;
                
                p {
                    font-size: .6rem;
                    margin: 0;
                }

                p.parcelaTitle {
                    font-weight: bold;
                    font-size: 1rem;                    
                }

                p.qtd {
                    margin-bottom: .8rem;
                }

                p.totalTitle {

                }

                p.totalValor {

                }
            }
        }
    }

    div.actions {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: .6rem;
        max-width: 635px;

        a.next {
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: #3665E0;
            border: 1px solid #3665E0;
            border-radius: 4%;
            color: #fff;
            text-decoration: none;
            font-size: .8rem;
            margin: 0 auto;
            margin-bottom: .3rem;

            i {
                margin-left: 1rem;
            }
        }

        a.prev {
            text-decoration: none;
            background-color: #fff;
            color: #222;
            border: none;
            font-size: .7rem;
            margin-bottom: 0;

            i {
            margin-right: .4rem;
            }
        }
    }

    div.info {
        width: 35%;

        p {
            font-size: 0.9rem;
            margin: 0;
            color: #FF0000;
            text-align: center;

            span {
                font-weight: bold;
            }
        }
    }

    div.ajuda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #043A7A;
        border: 1px #043A7A solid;
        border-radius: 20px;
        padding: .2rem 0 .2rem .5rem;
        position: fixed;
        bottom: 2%;
        right: -2%;
        width: 13rem;
        height: 6%;

        img {
            width: 22px;
            height: auto;
            margin-right: 4%;
        }

        p {
            color: #fff;
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }   
}

@media all and (max-width: 1024px) {
    section#passo2b {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
            }
        }

        div.conteudoPrincipal {
            width: 65%;

            div.margem {
                width: 100%;
                h3.titleMargem {
                }
                div.slider {
                    form {
                        div.form-group {
                            input#formControlRange {
                            }
                            div {
                                label {
                                }
                                label#min {
                                }
                                label#max {
                                }
                            }
                        }
                    }
                }
                p {
                }
                p.a {
                }
                p.b {
                }
            }
            div.parcelas {
                width: 100%;

                div.parcela {
                    p {
                    }
                    p.parcelaTitle {               
                    }
                    p.qtd {
                    }
                    p.totalTitle {
                    }
                    p.totalValor {
                    }
                }
            }
        }
        div.actions {
            a {
                i {
                }
            }
            p {
                i {
                }
            }
        }
        div.info {
            width: 100%;
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 25%;

            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 768px) {
    section#passo2b {
        div.breadcrumb {
        }
        div.title {
            width: 100%;

            h1 {
            }
            p {
            }
            p.a {
            }
        }
        div.conteudoPrincipal {
            width: 100%;

            div.margem {
                width: 100%;

                h3.titleMargem {
                }
                div.slider {
                    form {
                        div.form-group {
                            input#formControlRange {
                            }
                            div {
                                label {
                                }
                                label#min {
                                }
                                label#max {
                                }
                            }
                        }
                    }
                }
                p {
                }
                p.a {
                }
                p.b {
                }
            }
            div.parcelas {
                width: 100%;

                div.parcela {
                    p {
                    }
                    p.parcelaTitle {               
                    }
                    p.qtd {
                    }
                    p.totalTitle {
                    }
                    p.totalValor {
                    }
                }
            }
        }
        div.actions {
            width: 100%;
            a {
                i {
                }
            }
            p {
                i {
                }
            }
        }
        div.info {
            width: 100%;
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 35%;
            height: 4%;
            right: -4%;

            img {
             width: 16px;   
            }
            p {
            }
        }
    }
}

@media all and (max-width: 575px) {
    section#passo2b {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
                font-size: .6rem;
            }
            p.a {
            }
        }
        div.conteudoPrincipal {
            div.margem {
                h3.titleMargem {
                }
                div.slider {
                    form {
                        div.form-group {
                            input#formControlRange {
                            }
                            div {
                                label {
                                }
                                label#min {
                                }
                                label#max {
                                }
                            }
                        }
                    }
                }
                p {
                }
                p.a {
                }
                p.b {
                }
            }
            div.parcelas {
                padding: .5rem;

                div.parcela {
                    width: 22%;
                    padding: .2rem;
                    p {
                    }
                    p.parcelaTitle {               
                    }
                    p.qtd {
                    }
                    p.totalTitle {
                    }
                    p.totalValor {
                    }
                }
            }
        }
        div.actions {
        }
        div.info {
            margin-bottom: 2.5rem;

            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 50%;
            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 360px) {
    section#passo2b {
        padding: .5rem;

        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
            }
        }
        div.conteudoPrincipal {
            div.margem {
                h3.titleMargem {
                }
                div.slider {
                    form {
                        div.form-group {
                            input#formControlRange {
                            }
                            div {
                                label {
                                }
                                label#min {
                                }
                                label#max {
                                }
                            }
                        }
                    }
                    p {    
                        font-size: .8rem;                    
                    }
                    p.a {
                    }
                    p.b {
                    }
                }

            }
            div.parcelas {
                flex-wrap: wrap;
                align-items: center;

                div.parcela {
                    min-width: 70px;
                    margin-bottom: .2rem;
                    p {
                    }
                    p.parcelaTitle {               
                    }
                    p.qtd {
                    }
                    p.totalTitle {
                    }
                    p.totalValor {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            margin-bottom: 3rem;

            p {
                span {
                }
            }
        }
        div.ajuda {
            img {
            }
            p {
            }
        }
    }
}

@media all and (max-width: 290px) {
    section#passo2b {
        div.breadcrumb {
        }
        div.title {
            h1 {
            }
            p {
            }
            p.a {
            }
        }
        div.conteudoPrincipal {
            div.margem {
                h3.titleMargem {
                }
                div.slider {
                    form {
                        div.form-group {
                            input#formControlRange {
                            }
                            div {
                                label {
                                }
                                label#min {
                                }
                                label#max {
                                }
                            }
                        }
                    }
                }
                p {
                }
                p.a {
                }
                p.b {
                }
            }
            div.parcelas {
                div.parcela {
                    p {
                    }
                    p.parcelaTitle {               
                    }
                    p.qtd {
                    }
                    p.totalTitle {
                    }
                    p.totalValor {
                    }
                }
            }
        }
        div.actions {

        }
        div.info {
            margin-bottom: 4rem;
            p {
                span {
                }
            }
        }
        div.ajuda {
            width: 63%;
            right: -7%;

            img {
                width: 12px;
            }
            p {
                font-size: .5rem;
                font-weight: normal;
            }
        }
    }
}



