<section id="passo2b">
  <div class="breadc">Nome Completo > Crédito Disponível > Margem Livre</div>
  <div class="title">
    <h1>Margem Livre</h1>
    <p class="a">Escolha a melhor opção para você e nós apresentamos as parcelas</p>
  </div>

  <div class="conteudoPrincipal">
    <div class="margem">
      <h3 class="titleMargem">R$ 24.568,12</h3>
      <div class="slider">
        <form>
          <div class="form-group">
            <input type="range" class="form-control-range" id="formControlRange">
            <div>
              <label for="" id="min">R$ 10,00</label>
              <label for="" id="max">R$ 1.864,98</label>
            </div>
          </div>
        </form>
      </div>
      <p class="a">Sua margem consignável é de:</p>
      <p class="b">R$ 826,52/mês</p>
    </div>

    <div class="parcelas">
      <div class="parcela">
        <p class="parcelaTitle">36x</p>
        <p class="qtd">de R$826,52</p>
        <p class="totalTitle">Total</p>
        <p class="totalValor">R$ 19.897,92</p>
      </div>

      <div class="parcela">
        <p class="parcelaTitle">36x</p>
        <p class="qtd">de R$826,52</p>
        <p class="totalTitle">Total</p>
        <p class="totalValor">R$ 19.897,92</p>
      </div>

      <div class="parcela">
        <p class="parcelaTitle">36x</p>
        <p class="qtd">de R$826,52</p>
        <p class="totalTitle">Total</p>
        <p class="totalValor">R$ 19.897,92</p>
      </div>

      <div class="parcela">
        <p class="parcelaTitle">36x</p>
        <p class="qtd">de R$826,52</p>
        <p class="totalTitle">Total</p>
        <p class="totalValor">R$ 19.897,92</p>
      </div>
    </div>
  </div>

  <div class="actions">
    <a class="next" routerLink="/passo3a">
      Salvar e avançar
      <i class="fas fa-arrow-right"></i>
    </a>
    <a class="prev" routerLink="/passo2">
      <i class="fas fa-arrow-left"></i>
      Voltar ao menu anterior
    </a>
  </div>  
  
  <div class="info">
    <p><span>Atenção</span>: A Acrédito Digital não solicita depósitos iniciais para a concessão de empréstimo consignado.</p>
  </div>

  <div class="ajuda">
    <img src="../../../assets/img/passo2/phone.png" alt="">
    <p>Precisa de ajuda?</p>
  </div>
  
</section>